---
import BaseIcon from '../ui/BaseIcon.astro';

const {
  class: className,
  'label-text': labelText,
  'error-text': errorText,
  placeholder,
  'input-name': inputName,
  multiselect = false,
  items,
  required = false,
  error = false,
  disabled = false,
  ...attrs
} = Astro.props;

const validItems = Array.isArray(items) ? items : [];

const inputType = multiselect ? 'checkbox' : 'radio';

const classes = [
  'base-select',
  'js-select',
  multiselect ? 'js-multiselect' : '',
  required ? 'base-select_required js-required' : '',
  error ? 'error' : '',
  className,
];
---

{
  validItems.length > 0 && (
    <div
      class:list={classes}
      tabindex={disabled ? -1 : 0}
      aria-disabled={disabled ? true : undefined}
      {...attrs}
    >
      <div class="base-select__top">
        {labelText && <div class="base-select__label">{labelText}</div>}

        <div class="base-select__header">
          <span class="base-select__header-text js-select-title">
            <span class="base-select__header-placeholder">{placeholder}</span>
          </span>

          <BaseIcon
            class="base-select__header-icon"
            name="right-arrow"
          />
        </div>

        <div
          class="base-select__menu js-select-menu"
          tabindex="-1"
        >
          <div
            class="base-select__menu-content"
            tabindex="-1"
          >
            {validItems.map(item => (
              <label
                class="base-select__menu-item js-select-item"
                tabindex={item.disabled ? -1 : 0}
                aria-disabled={item.disabled ? true : undefined}
              >
                <input
                  class="base-select__menu-item-input"
                  name={inputName}
                  type={inputType}
                  value={item.value}
                  checked={item.checked ? true : undefined}
                  disabled={item.disabled ? true : undefined}
                />

                <span class="base-select__menu-item-text js-select-item-text">{item.text}</span>

                <BaseIcon
                  class="base-select__menu-item-icon"
                  name="tick"
                />
              </label>
            ))}
          </div>
        </div>
      </div>

      {errorText && (
        <div class="base-select__error-text-wrapper">
          <div class="base-select__error-text">{errorText}</div>
        </div>
      )}
    </div>
  )
}

<script>
  class Select {
    constructor(config) {
      this.selectElement = config.selectElement;
      this.multiselect = config.multiselect;
      this.openedSelectClass = config.openedSelectClass;
      this.errorSelectClass = config.errorSelectClass;
      this.invalidSelectClass = config.invalidSelectClass;
      this.requiredSelectClass = config.requiredSelectClass;
      this.topMenuSelectClass = config.topMenuSelectClass;
      this.selectTitleClass = config.selectTitleClass;
      this.selectMenuClass = config.selectMenuClass;
      this.selectItemClass = config.selectItemClass;
      this.selectItemTextClass = config.selectItemTextClass;
      this.placeholder = '';
    }

    update(
      select,
      errorSelectClass,
      invalidSelectClass,
      isRequired,
      selectTitle,
      selectItemClass,
      selectItemTextClass
    ) {
      const selectItems = select.querySelectorAll(selectItemClass);
      let selectTitleText = '';
      let checkedItemsCounter = 0;

      selectItems.forEach(selectItem => {
        const itemInput = selectItem.querySelector('input');

        if (itemInput.checked) {
          const itemText = selectItem.querySelector(selectItemTextClass).innerHTML;
          selectTitleText += selectTitleText ? `, ${itemText}` : itemText;
          checkedItemsCounter++;
        }
      });

      if (selectTitleText) {
        selectTitle.innerHTML = selectTitleText;
      } else {
        selectTitle.innerHTML = this.placeholder;
      }

      if (checkedItemsCounter) {
        select.classList.remove(invalidSelectClass.slice(1));
        select.classList.remove(errorSelectClass.slice(1));
        return;
      }
      
      if (isRequired) {
        select.classList.add(invalidSelectClass.slice(1));
      }
    }

    setSelectMenuPosition(select, topMenuSelectClass, selectMenu) {
      const screenHeight = document.documentElement.clientHeight;
      const isTopMenu = select.classList.contains(topMenuSelectClass.slice(1));
      const topSelect = select.getBoundingClientRect().top;
      const bottomSelect = select.getBoundingClientRect().bottom;
      const gap = Math.max(
        topSelect - selectMenu.getBoundingClientRect().top,
        selectMenu.getBoundingClientRect().bottom - bottomSelect
      );

      if (isTopMenu) {
        if (bottomSelect + gap < screenHeight) {
          select.classList.remove(topMenuSelectClass.slice(1));
          return;
        }

        if (topSelect < screenHeight - bottomSelect) {
          select.classList.remove(topMenuSelectClass.slice(1));
        }
        
        return;
      }

      if (
        bottomSelect + gap >= screenHeight
        && topSelect > screenHeight - bottomSelect
      ) {
        select.classList.add(topMenuSelectClass.slice(1));
      }
    }

    onLoad(
      select,
      multiselect,
      errorSelectClass,
      invalidSelectClass,
      isRequired,
      selectTitle,
      selectItemClass,
      selectItemTextClass
    ) {
      const selectItems = select.querySelectorAll(selectItemClass);
      let checkedItemsCounter = 0;

      selectItems.forEach(selectItem => {
        const itemInput = selectItem.querySelector('input');
        const itemText = selectItem.querySelector(selectItemTextClass)?.innerHTML?.trim();

        if (!itemInput || !itemText) {
          selectItem.remove();
          return;
        }

        selectItem.addEventListener('mouseover', () => {
          selectItem.focus();
        });

        itemInput.addEventListener('click', event => {
          event.stopPropagation();
        });

        if (multiselect) {
          itemInput.setAttribute('type', 'checkbox');
        } else {
          itemInput.setAttribute('type', 'radio');
        }

        if (!itemInput.hasAttribute('checked')) {
          return;
        }

        if (multiselect || !checkedItemsCounter) {
          checkedItemsCounter++;
          setTimeout(() => {
            itemInput.checked = true;
          }, 0);
        }
      });

      setTimeout(() => {
        this.update(
          select,
          errorSelectClass,
          invalidSelectClass,
          isRequired,
          selectTitle,
          selectItemClass,
          selectItemTextClass
        );
      }, 0);
    }

    onScroll(select, openedSelectClass) {
      window.addEventListener('scroll', () => {
        select.classList.remove(openedSelectClass.slice(1));
      });
    }

    onClick(
      select,
      multiselect,
      errorSelectClass,
      invalidSelectClass,
      isRequired,
      openedSelectClass,
      topMenuSelectClass,
      selectTitle,
      selectMenu,
      selectItemClass,
      selectItemTextClass
    ) {
      document.addEventListener('click', event => {
        if (select.classList.contains(openedSelectClass.slice(1))) {
          const clickedItem = event.target.closest(selectItemClass);

          if (!clickedItem) {
            select.classList.remove(openedSelectClass.slice(1));
            return;
          }

          const clickedItemInput = clickedItem.querySelector('input');

          if (clickedItemInput.disabled) {
            return;
          }

          if (!multiselect) {
            select.classList.remove(openedSelectClass.slice(1));
          }

          setTimeout(() => {
            this.update(
              select,
              errorSelectClass,
              invalidSelectClass,
              isRequired,
              selectTitle,
              selectItemClass,
              selectItemTextClass
            );
          }, 0);

          return;
        }

        if (select.contains(event.target)) {
          this.setSelectMenuPosition(select, topMenuSelectClass, selectMenu);
          select.classList.add(openedSelectClass.slice(1));
        }
      });
    }

    onKeyDown(
      select,
      multiselect,
      errorSelectClass,
      invalidSelectClass,
      isRequired,
      openedSelectClass,
      topMenuSelectClass,
      selectTitle,
      selectMenu,
      selectItemClass,
      selectItemTextClass
    ) {
      const selectItems = select.querySelectorAll(selectItemClass);
      const itemsArray = [];

      selectItems.forEach(selectItem => {
        const itemInput = selectItem.querySelector('input');

        if (itemInput.disabled) {
          return;
        }

        itemsArray.push({ item: selectItem, input: itemInput });
      });

      document.addEventListener('keydown', event => {
        if (event.key === 'Enter') {
          if (
            document.activeElement === select &&
            !select.classList.contains(openedSelectClass.slice(1))
          ) {
            this.setSelectMenuPosition(select, topMenuSelectClass, selectMenu);
            select.classList.add(openedSelectClass.slice(1));
            setTimeout(() => {
              itemsArray[0].item.focus();
            }, 0);
          }

          for (let i = 0; i < itemsArray.length; i++) {
            if (document.activeElement !== itemsArray[i].item) {
              continue;
            }

            if (itemsArray[i].input.checked === false) {
              itemsArray[i].input.checked = true;
            }
            else if (multiselect) {
              itemsArray[i].input.checked = false;
            }

            this.update(
              select,
              errorSelectClass,
              invalidSelectClass,
              isRequired,
              selectTitle,
              selectItemClass,
              selectItemTextClass
            );
          }
        }

        if (!select.classList.contains(openedSelectClass.slice(1))) {
          return;
        }

        if (event.key === 'Escape') {
          select.focus();
          select.classList.remove(openedSelectClass.slice(1));
        }

        if (event.key === 'ArrowDown') {
          event.preventDefault();

          for (let i = 0; i < itemsArray.length; i++) {
            if (document.activeElement === itemsArray[i].item && i < itemsArray.length - 1) {
              itemsArray[i + 1].item.focus();
              break;
            }
          }
        }

        if (event.key === 'ArrowUp') {
          event.preventDefault();

          for (let i = 0; i < itemsArray.length; i++) {
            if (document.activeElement === itemsArray[i].item && i > 0) {
              itemsArray[i - 1].item.focus();
              break;
            }
          }
        }
      });
    }

    reset(
      select,
      multiselect,
      errorSelectClass,
      invalidSelectClass,
      isRequired,
      selectTitle,
      selectItemClass,
      selectItemTextClass
    ) {
      const selectItems = select.querySelectorAll(selectItemClass);
      let checkedItemsCounter = 0;

      selectItems.forEach(selectItem => {
        const itemInput = selectItem.querySelector('input');

        if (itemInput.hasAttribute('checked') && (multiselect || !checkedItemsCounter)) {
          checkedItemsCounter++;
          itemInput.checked = true;
        } else {
          itemInput.checked = false;
        }
      });

      setTimeout(() => {
        this.update(
          select,
          errorSelectClass,
          invalidSelectClass,
          isRequired,
          selectTitle,
          selectItemClass,
          selectItemTextClass
        );
        select.classList.remove(errorSelectClass.slice(1));
      }, 0);
    }

    init() {
      const select = this.selectElement;

      if (!(select instanceof HTMLElement)) {
        return;
      }

      const selectTitle = select.querySelector(this.selectTitleClass);
      const selectMenu = select.querySelector(this.selectMenuClass);

      if (!selectTitle || !selectMenu) {
        return;
      }

      this.placeholder = selectTitle.innerHTML.trim();
      const multiselect = this.multiselect;
      const openedSelectClass = this.openedSelectClass;
      const errorSelectClass = this.errorSelectClass;
      const invalidSelectClass = this.invalidSelectClass;
      const isRequired = select.classList.contains(this.requiredSelectClass.slice(1));
      const topMenuSelectClass = this.topMenuSelectClass;
      const selectItemClass = this.selectItemClass;
      const selectItemTextClass = this.selectItemTextClass;

      this.onLoad(
        select,
        multiselect,
        errorSelectClass,
        invalidSelectClass,
        isRequired,
        selectTitle,
        selectItemClass,
        selectItemTextClass
      );

      this.onScroll(select, openedSelectClass);

      this.onClick(
        select,
        multiselect,
        errorSelectClass,
        invalidSelectClass,
        isRequired,
        openedSelectClass,
        topMenuSelectClass,
        selectTitle,
        selectMenu,
        selectItemClass,
        selectItemTextClass
      );

      this.onKeyDown(
        select,
        multiselect,
        errorSelectClass,
        invalidSelectClass,
        isRequired,
        openedSelectClass,
        topMenuSelectClass,
        selectTitle,
        selectMenu,
        selectItemClass,
        selectItemTextClass
      );

      select.addEventListener('custom-reset', () => {
        this.reset(
          select,
          multiselect,
          errorSelectClass,
          invalidSelectClass,
          isRequired,
          selectTitle,
          selectItemClass,
          selectItemTextClass
        );
      });
    }
  }

  function initSelect() {
    const selectElements = document.querySelectorAll('.js-select');

    selectElements.forEach(selectElement => {
      const multiselect = selectElement.classList.contains('js-multiselect');

      new Select({
        selectElement: selectElement,
        multiselect: multiselect,
        openedSelectClass: '.select-opened',
        errorSelectClass: '.error',
        invalidSelectClass: '.invalid',
        requiredSelectClass: '.js-required',
        topMenuSelectClass: '.top-menu',
        selectTitleClass: '.js-select-title',
        selectMenuClass: '.js-select-menu',
        selectItemClass: '.js-select-item',
        selectItemTextClass: '.js-select-item-text',
      }).init();
    });
  }

  initSelect();
</script>

<style lang="scss" is:global>
  .base-select {
    $element: &;
    text-decoration: none;

    box-shadow: none;
    outline: none;

    &[aria-disabled='true'] {
      pointer-events: none;
    }

    &__top {
      position: relative;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    &__label {
      @include caption-12;

      margin-bottom: rem(4);
      color: $gray-4;
      -webkit-tap-highlight-color: transparent;

      &::after {
        display: none;
        color: $gray-3;
        content: ' *';

        #{$element}_required & {
          display: inline;
        }

        #{$element}[aria-disabled='true'] & {
          color: $gray-2;
        }
      }

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: calc(#{rem(14)} - 1px) calc(#{rem(16)} - 1px);
      border: 1px solid $gray-3;
      background-color: $gray-0;
      transition: border-color $default-transition;
      cursor: pointer;
      gap: rem(12);
      -webkit-tap-highlight-color: transparent;

      @media #{$is-hover} {
        #{$element}:hover & {
          border-color: $primary-hover;
        }
      }

      #{$element}:focus-visible & {
        border-color: $primary-hover;
      }

      #{$element}[aria-disabled='true'] & {
        border-color: $gray-2;
      }

      .error & {
        border-color: $secondary;
      }

      .select-opened & {
        border-color: $primary;
      }

      .error:focus-visible & {
        border-color: $primary-hover;
      }

      @media #{$is-hover} {
        .error:hover & {
          border-color: $secondary;
        }
      }

      .select-opened:hover &,
      .select-opened:focus-visible & {
        border-color: $primary;
      }
    }

    &__header-text {
      @include label-14;

      display: -webkit-box;
      color: $gray-4;
      transition: color $default-transition;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    &__header-placeholder {
      color: $gray-3;

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }
    }

    &__header-icon {
      flex-shrink: 0;
      width: rem(16);
      height: rem(16);
      color: $gray-4;
      transition: transform $default-transition;
      transform: rotate(90deg);

      .select-opened & {
        transform: rotate(-90deg);
      }
    }

    &__menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      width: 100%;
      padding: rem(8) 0;
      background-color: $gray-0;
      opacity: 0;
      transition:
        opacity $default-transition,
        box-shadow $default-transition;
      pointer-events: none;

      .select-opened & {
        opacity: 1;
        box-shadow: 0 rem(8) rem(16) 0 rgba(0, 0, 0, 0.1);
        pointer-events: auto;
      }

      .top-menu & {
        top: auto;
        bottom: 100%;
      }
    }

    &__menu-content {
      display: flex;
      flex-direction: column;
      max-height: rem(200);
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: $gray-3 transparent;

      &::-webkit-scrollbar {
        width: rem(2);
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-3;
      }
    }

    &__menu-item {
      position: relative;
      padding: rem(10) rem(40) rem(10) rem(16);
      box-shadow: none;
      transition: background-color $default-transition;
      cursor: pointer;
      outline: none;
      -webkit-tap-highlight-color: transparent;

      &:active,
      &:focus,
      &:focus-visible {
        background-color: $gray-1;
      }

      &[aria-disabled='true'] {
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }
    }

    &__menu-item-input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }

    &__menu-item-text {
      @include label-14;

      display: -webkit-box;
      color: $gray-4;
      cursor: pointer;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      -webkit-tap-highlight-color: transparent;

      #{$element}__menu-item-input:disabled ~ & {
        color: $gray-2;
        pointer-events: none;
      }
    }

    &__menu-item-icon {
      position: absolute;
      top: rem(12);
      right: rem(16);
      display: block;
      width: rem(16);
      height: rem(16);
      color: transparent;
      transition: color $default-transition;

      #{$element}__menu-item-input:checked ~ & {
        color: $gray-4;
      }
    }

    &__error-text-wrapper {
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;

      .error & {
        max-height: rem(36);
        opacity: 1;
      }
    }

    &__error-text {
      @include caption-12;

      padding-top: rem(4);
      color: $secondary;
      pointer-events: none;
    }
  }
</style>
