---
const {
  class: className,
  'label-text': labelText,
  'error-text': errorText,
  placeholder,
  'input-name': inputName,
  required = false,
  error = false,
  disabled = false,
  ...attrs
} = Astro.props;

const classes = [
  'base-input-field',
  'js-base-input-field',
  required ? 'base-input-field_required js-required' : '',
  error ? 'error' : '',
  className,
];
---

<div
  class:list={classes}
  aria-disabled={disabled ? true : undefined}
  {...attrs}
>
  <label class="base-input-field__label">
    {labelText && <span class="base-input-field__label-text">{labelText}</span>}

    <input
      class="base-input-field__input"
      type="text"
      name={inputName}
      placeholder={placeholder}
      disabled={disabled ? true : undefined}
    />
  </label>

  {
    errorText && (
      <div class="base-input-field__error-text-wrapper">
        <div class="base-input-field__error-text">{errorText}</div>
      </div>
    )
  }
</div>

<script>
  function initInput() {
    const inputFields = document.querySelectorAll('.js-base-input-field');

    inputFields.forEach(inputField => {
      const inputElement = inputField.querySelector('input');
      const isRequired = inputField.classList.contains('js-required');

      if (!inputElement) {
        return;
      }

      if (isRequired && !inputElement.value.trim()) {
        inputField.classList.add('invalid');
      }

      inputElement.addEventListener('input', () => {
        if (inputElement.value.trim()) {
          inputField.classList.remove('error');
        }

        if (isRequired && !inputElement.value.trim()) {
          inputField.classList.add('invalid');
        } else {
          inputField.classList.remove('invalid');
        }
      });

      inputField.addEventListener('custom-reset', () => {
        inputField.classList.remove('error');
        inputElement.value = '';

        if (isRequired) {
          inputField.classList.add('invalid');
        }
      });
    });
  }

  initInput();
</script>

<style lang="scss" is:global>
  .base-input-field {
    $element: &;

    &[aria-disabled='true'] {
      pointer-events: none;
    }

    &__label {
      display: block;
      width: 100%;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    &__label-text {
      @include caption-12;

      display: block;
      margin-bottom: rem(4);
      color: $gray-4;

      &::after {
        display: none;
        color: $gray-3;
        content: ' *';

        #{$element}_required & {
          display: inline;
        }

        #{$element}[aria-disabled='true'] & {
          color: $gray-2;
        }
      }

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }
    }

    &__input {
      @include resetinput;
      @include label-14;

      display: block;
      width: 100%;
      padding: calc(#{rem(14)} - 1px) calc(#{rem(16)} - 1px);
      border: 1px solid $gray-3;
      color: $gray-4;
      background-color: $gray-0;
      transition: border-color $default-transition;
      -webkit-tap-highlight-color: transparent;

      &:focus-visible {
        border-color: $primary;
      }

      @media #{$is-hover} {
        #{$element}__label:hover & {
          border-color: $primary-hover;

          &:focus-visible {
            border-color: $primary;
          }
        }
      }

      &[disabled] {
        border-color: $gray-2;
        color: $gray-2;
        pointer-events: none;
        user-select: none;
      }

      &::placeholder {
        color: $gray-3;
      }

      &[disabled]::placeholder {
        color: $gray-2;
      }

      .error & {
        border-color: $secondary;
      }

      .error &:focus-visible {
        border-color: $primary;
      }

      @media #{$is-hover} {
        .error:hover & {
          border-color: $secondary;
        }
      }
    }

    &__error-text-wrapper {
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;

      .error & {
        max-height: rem(36);
        opacity: 1;
      }
    }

    &__error-text {
      @include caption-12;

      padding-top: rem(4);
      color: $secondary;
      pointer-events: none;
    }
  }
</style>
