---
const {
  class: className,
  'label-text': labelText,
  'error-text': errorText,
  placeholder,
  'textarea-name': textareaName,
  counter = false,
  required = false,
  error = false,
  disabled = false,
  ...attrs
} = Astro.props;

const classes = [
  'base-textarea-field',
  'js-base-textarea-field',
  counter ? 'base-textarea-field_counter' : '',
  required ? 'base-textarea-field_required js-required' : '',
  error ? 'error' : '',
  className,
];
---

<div
  class:list={classes}
  aria-disabled={disabled ? true : undefined}
  {...attrs}
>
  <label class="base-textarea-field__label">
    {labelText && <span class="base-textarea-field__label-text">{labelText}</span>}

    <textarea
      class="base-textarea-field__textarea"
      name={textareaName}
      placeholder={placeholder}
      maxlength={!counter ? '500' : '2500'}
      disabled={disabled ? true : undefined}
    ></textarea>

    {
      counter && (
        <div class="base-textarea-field__counter-wrapper">
          <div class="base-textarea-field__counter">
            <span class="js-textarea-counter">0</span>/2500
          </div>
        </div>
      )
    }
  </label>

  {
    errorText && (
      <div class="base-textarea-field__error-text-wrapper">
        <div class="base-textarea-field__error-text">{errorText}</div>
      </div>
    )
  }
</div>

<script>
  function initTextarea() {
    const textareaFields = document.querySelectorAll('.js-base-textarea-field');

    textareaFields.forEach(textareaField => {
      const textareaElement = textareaField.querySelector('textarea');
      const isRequired = textareaField.classList.contains('js-required');

      if (!textareaElement) {
        return;
      }

      if (isRequired && !textareaElement.value.trim()) {
        textareaField.classList.add('invalid');
      }

      textareaElement.addEventListener('input', () => {
        if (textareaElement.value.trim()) {
          textareaField.classList.remove('error');
        }

        if (isRequired && !textareaElement.value.trim()) {
          textareaField.classList.add('invalid');
        } else {
          textareaField.classList.remove('invalid');
        }

        const counter = textareaField.querySelector('.js-textarea-counter');

        if (counter) {
          counter.innerHTML = String(textareaElement.value.length);
        }
      });

      textareaField.addEventListener('custom-reset', () => {
        textareaField.classList.remove('error');
        textareaElement.value = '';

        const counter = textareaField.querySelector('.js-textarea-counter');

        if (counter) {
          counter.innerHTML = '';
        }

        if (isRequired) {
          textareaField.classList.add('invalid');
        }
      });
    });
  }

  initTextarea();
</script>

<style lang="scss" is:global>
  .base-textarea-field {
    $element: &;

    &[aria-disabled='true'] {
      pointer-events: none;
    }

    &__label {
      display: block;
      width: 100%;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    &__label-text {
      @include caption-12;

      display: block;
      margin-bottom: rem(4);
      color: $gray-4;

      &::after {
        display: none;
        color: $gray-3;
        content: ' *';

        #{$element}_required & {
          display: inline;
        }

        #{$element}[aria-disabled='true'] & {
          color: $gray-2;
        }
      }

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }
    }

    &__textarea {
      @include resetinput;
      @include label-14;

      display: block;
      width: 100%;
      height: rem(120);
      padding: calc(#{rem(14)} - 1px) calc(#{rem(16)} - 1px);
      border: 1px solid $gray-3;
      color: $gray-4;
      background-color: $gray-0;
      transition: border-color $default-transition;
      resize: none;
      -webkit-tap-highlight-color: transparent;

      &:focus-visible {
        border-color: $primary;
      }

      @media #{$is-hover} {
        #{$element}__label:hover & {
          border-color: $primary-hover;

          &:focus-visible {
            border-color: $primary;
          }
        }
      }

      &[disabled] {
        border-color: $gray-2;
        color: $gray-2;
        pointer-events: none;
        user-select: none;
      }

      &::placeholder {
        color: $gray-3;
      }

      &[disabled]::placeholder {
        color: $gray-2;
      }

      .error & {
        border-color: $secondary;
      }

      .error &:focus-visible {
        border-color: $primary;
      }

      @media #{$is-hover} {
        .error:hover & {
          border-color: $secondary;
        }
      }

      #{$element}_counter & {
        height: auto;
        min-height: rem(48);
        max-height: rem(48);
        field-sizing: content;
        transition:
          border-color $default-transition,
          min-height 0.3s ease 0.1s,
          max-height 0.3s ease 0.1s;

        &:focus-visible,
        &:focus-visible:not(:placeholder-shown) {
          min-height: rem(200);
          max-height: rem(200);
          transition:
            border-color $default-transition,
            min-height $default-transition,
            max-height $default-transition;
        }

        &:not(:placeholder-shown) {
          min-height: rem(48);
          max-height: rem(200);
        }
      }
    }

    &__counter-wrapper {
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;

      #{$element}__textarea:focus-visible ~ &,
      #{$element}__textarea:not(:placeholder-shown) ~ & {
        max-height: rem(20);
        opacity: 1;
      }
    }

    &__counter {
      @include caption-12;

      padding-top: rem(4);
      color: $gray-4;
      pointer-events: none;

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }
    }

    &__error-text-wrapper {
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;

      .error & {
        max-height: rem(36);
        opacity: 1;
      }
    }

    &__error-text {
      @include caption-12;

      padding-top: rem(4);
      color: $secondary;
      pointer-events: none;
    }
  }
</style>
