---
const {
  class: className,
  title,
  'title-tag': TitleTag = 'h2',
  'title-mb': titleMb = 'sm',
  ...attrs
} = Astro.props;

const classes = ['base-section', `base-section_title-mb_${titleMb}`, className];
---

<section
  class:list={classes}
  {...attrs}
>
  <div class="base-section__container">
    {title && <TitleTag class="base-section__title">{title}</TitleTag>}

    <slot />
  </div>
</section>

<style lang="scss" is:global>
  .base-section {
    $element: &;

    &__container {
      @include base-container;

      margin-bottom: rem(96);
    }

    &__title {
      @include h2;

      margin: 0 0 rem(32);

      #{$element}_title-mb_lg & {
        margin: 0 0 rem(80);
      }

      #{$element}_title-mb_md & {
        margin: 0 0 rem(64);
      }

      #{$element}_title-mb_sm & {
        margin: 0 0 rem(32);
      }
    }
  }
</style>
