---
import BaseIcon from '../ui/BaseIcon.astro';

const {
  class: className,
  'label-text': labelText,
  'label-text-size': labelTextSize = 'md',
  'error-text': errorText,
  'input-name': inputName,
  required = false,
  error = false,
  disabled = false,
  ...attrs
} = Astro.props;

const classes = [
  'base-checkbox',
  'js-base-checkbox',
  `base-checkbox_text-size_${labelTextSize}`,
  required ? 'js-required' : '',
  error ? 'error' : '',
  className,
];
---

<div
  class:list={classes}
  aria-disabled={disabled ? true : undefined}
  {...attrs}
>
  <label class="base-checkbox__label">
    <input
      class="base-checkbox__input"
      type="checkbox"
      name={inputName}
      disabled={disabled ? true : undefined}
    />

    <span class="base-checkbox__badge">
      <BaseIcon
        class="base-checkbox__badge-icon"
        name="tick"
      />
    </span>

    {labelText && <span class="base-checkbox__label-text">{labelText}</span>}
  </label>

  {
    errorText && (
      <div class="base-checkbox__error-text-wrapper">
        <div class="base-checkbox__error-text">{errorText}</div>
      </div>
    )
  }
</div>

<script>
  function initCheckbox() {
    const checkboxes = document.querySelectorAll('.js-base-checkbox');

    checkboxes.forEach(checkbox => {
      const inputElement = checkbox.querySelector('input');
      const isRequired = checkbox.classList.contains('js-required');

      if (!inputElement) {
        return;
      }

      if (isRequired && !inputElement.checked) {
        checkbox.classList.add('invalid');
      }

      inputElement.addEventListener('change', () => {
        if (inputElement.checked) {
          checkbox.classList.remove('error');
        }

        if (isRequired && !inputElement.checked) {
          checkbox.classList.add('invalid');
        } else {
          checkbox.classList.remove('invalid');
        }
      });

      checkbox.addEventListener('custom-reset', () => {
        checkbox.classList.remove('error');
        inputElement.checked = false;

        if (isRequired) {
          checkbox.classList.add('invalid');
        }
      });
    });
  }

  initCheckbox();
</script>

<style lang="scss" is:global>
  .base-checkbox {
    $element: &;

    &[aria-disabled='true'] {
      pointer-events: none;
    }

    &__label {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: rem(8);
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    &__input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &__badge {
      position: relative;
      z-index: 1;
      flex-shrink: 0;
      width: rem(24);
      height: rem(24);
      border: 1px solid $gray-3;
      background-color: $gray-0;
      transition:
        border-color $default-transition,
        background-color $default-transition;

      @media #{$is-hover} {
        #{$element}__label:hover & {
          border-color: $primary-hover;
        }
      }

      #{$element}__input:focus-visible ~ & {
        border-color: $primary-hover;
      }

      #{$element}__input:checked ~ & {
        border-color: $primary;
        background-color: $primary;

        &:focus-visible {
          border-color: $primary;
        }
      }

      #{$element}[aria-disabled='true'] & {
        border-color: $gray-2;
        user-select: none;
      }

      .error &,
      .error #{$element}__label:hover & {
        border-color: $secondary;
      }

      .error #{$element}__input:focus-visible ~ & {
        border-color: $primary-hover;
      }
    }

    &__badge-icon {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      color: $gray-0;
      object-fit: cover;
    }

    &__label-text {
      color: $gray-4;

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }

      #{$element}_text-size_md & {
        @include body-18;
      }

      #{$element}_text-size_sm & {
        @include label-14;
      }
    }

    &__error-text-wrapper {
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;

      .error & {
        max-height: rem(36);
        opacity: 1;
      }
    }

    &__error-text {
      @include caption-12;

      padding-top: rem(4);
      color: $secondary;
      pointer-events: none;
    }
  }
</style>
