---
import BaseIcon from '../ui/BaseIcon.astro';

const {
  class: className,
  'label-text': labelText,
  'error-text': errorText,
  placeholder,
  required = false,
  error = false,
  disabled = false,
  ...attrs
} = Astro.props;

const classes = [
  'calendar-select',
  'js-calendar-select',
  required ? 'calendar-select_required js-required' : '',
  error ? 'error' : '',
  className,
];
---

<div
  class:list={classes}
  tabindex={disabled ? -1 : 0}
  aria-disabled={disabled ? true : undefined}
  {...attrs}
>
  <div class="calendar-select__top">
    {labelText && <div class="calendar-select__label">{labelText}</div>}

    <div class="calendar-select__header">
      <span class="calendar-select__header-text js-calendar-select-title"
        ><span class="calendar-select__header-placeholder">{placeholder}</span></span
      >

      <BaseIcon
        class="calendar-select__header-icon"
        name="right-arrow"
      />
    </div>

    <div
      class="calendar-select__menu js-calendar-select-menu"
      tabindex="-1"
    >
      <div
        class="calendar-select__menu-content"
        tabindex="-1"
      >
      </div>
    </div>
  </div>

  {
    errorText && (
      <div class="calendar-select__error-text-wrapper">
        <div class="calendar-select__error-text">{errorText}</div>
      </div>
    )
  }
</div>

<script>
  class CalendarSelect {
    constructor(config) {
      this.selectElement = config.selectElement;
      this.openedSelectClass = config.openedSelectClass;
      this.errorSelectClass = config.errorSelectClass;
      this.invalidSelectClass = config.invalidSelectClass;
      this.requiredSelectClass = config.requiredSelectClass;
      this.topMenuSelectClass = config.topMenuSelectClass;
      this.selectTitleClass = config.selectTitleClass;
      this.selectMenuClass = config.selectMenuClass;
      this.placeholder = '';
    }

    setSelectMenuPosition(select, topMenuSelectClass, selectMenu) {
      const screenHeight = document.documentElement.clientHeight;
      const isTopMenu = select.classList.contains(topMenuSelectClass.slice(1));
      const topSelect = select.getBoundingClientRect().top;
      const bottomSelect = select.getBoundingClientRect().bottom;
      const gap = Math.max(
        topSelect - selectMenu.getBoundingClientRect().top,
        selectMenu.getBoundingClientRect().bottom - bottomSelect
      );

      if (isTopMenu) {
        if (bottomSelect + gap < screenHeight) {
          select.classList.remove(topMenuSelectClass.slice(1));
          return;
        }

        if (topSelect < screenHeight - bottomSelect) {
          select.classList.remove(topMenuSelectClass.slice(1));
        }
        
        return;
      }

      if (
        bottomSelect + gap >= screenHeight
        && topSelect > screenHeight - bottomSelect
      ) {
        select.classList.add(topMenuSelectClass.slice(1));
      }
    }

    onClick(select, openedSelectClass, topMenuSelectClass, selectMenu) {
      document.addEventListener('click', (event) => {
        if (select.classList.contains(openedSelectClass.slice(1))) {
          if (!selectMenu.contains(event.target)) {
            select.classList.remove(openedSelectClass.slice(1));
          }
          return;
        }
        
        if (select.contains(event.target)) {
          this.setSelectMenuPosition(select, topMenuSelectClass, selectMenu);
          select.classList.add(openedSelectClass.slice(1));
        }
      });
    }

    onScroll(select, openedSelectClass) {
      window.addEventListener('scroll', () => {
        select.classList.remove(openedSelectClass.slice(1));
      });
    }

    onKeyDown(select, openedSelectClass, topMenuSelectClass, selectMenu) {
      document.addEventListener('keydown', event => {
        if (event.key === 'Enter') {
          if (
            document.activeElement === select &&
            !select.classList.contains(openedSelectClass.slice(1))
          ) {
            this.setSelectMenuPosition(select, topMenuSelectClass, selectMenu);
            select.classList.add(openedSelectClass.slice(1));
          }
        }

        if (!select.classList.contains(openedSelectClass.slice(1))) {
          return;
        }

        if (event.key === 'Escape') {
          select.focus();
          select.classList.remove(openedSelectClass.slice(1));
        }
      });
    }

    reset(select, invalidSelectClass, isRequired, errorSelectClass) {
      select.classList.remove(errorSelectClass.slice(1));

      if (isRequired) {
        select.classList.add(invalidSelectClass.slice(1));
      }
    }

    init() {
      const select = this.selectElement;

      if (!(select instanceof HTMLElement)) {
        return;
      }

      const selectTitle = select.querySelector(this.selectTitleClass);
      const selectMenu = select.querySelector(this.selectMenuClass);

      if (!selectTitle || !selectMenu) {
        return;
      }

      this.placeholder = selectTitle.innerHTML.trim();
      const openedSelectClass = this.openedSelectClass;
      const errorSelectClass = this.errorSelectClass;
      const invalidSelectClass = this.invalidSelectClass;
      const isRequired = select.classList.contains(this.requiredSelectClass.slice(1));
      const topMenuSelectClass = this.topMenuSelectClass;

      if (isRequired) {
        select.classList.add(invalidSelectClass.slice(1));
      }

      this.onClick(select, openedSelectClass, topMenuSelectClass, selectMenu);

      this.onScroll(select, openedSelectClass);

      this.onKeyDown(select, openedSelectClass, topMenuSelectClass, selectMenu);

      select.addEventListener('custom-reset', () => {
        this.reset(select, invalidSelectClass, isRequired, errorSelectClass);
      });
    }
  }

  function initCalendarSelect() {
    const selectElements = document.querySelectorAll('.js-calendar-select');

    selectElements.forEach(selectElement => {
      new CalendarSelect({
        selectElement: selectElement,
        openedSelectClass: '.select-opened',
        errorSelectClass: '.error',
        invalidSelectClass: '.invalid',
        requiredSelectClass: '.js-required',
        topMenuSelectClass: '.top-menu',
        selectTitleClass: '.js-calendar-select-title',
        selectMenuClass: '.js-calendar-select-menu',
      }).init();
    });
  }

  initCalendarSelect();
</script>

<style lang="scss" is:global>
  .calendar-select {
    $element: &;
    text-decoration: none;

    box-shadow: none;
    outline: none;

    &[aria-disabled='true'] {
      pointer-events: none;
    }

    &__top {
      position: relative;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    &__label {
      @include caption-12;

      margin-bottom: rem(4);
      color: $gray-4;
      -webkit-tap-highlight-color: transparent;

      &::after {
        display: none;
        color: $gray-3;
        content: ' *';

        #{$element}_required & {
          display: inline;
        }

        #{$element}[aria-disabled='true'] & {
          color: $gray-2;
        }
      }

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: calc(#{rem(14)} - 1px) calc(#{rem(16)} - 1px);
      border: 1px solid $gray-3;
      background-color: $gray-0;
      transition: border-color $default-transition;
      cursor: pointer;
      gap: rem(12);
      -webkit-tap-highlight-color: transparent;

      @media #{$is-hover} {
        #{$element}:hover & {
          border-color: $primary-hover;
        }
      }

      #{$element}:focus-visible & {
        border-color: $primary-hover;
      }

      #{$element}[aria-disabled='true'] & {
        border-color: $gray-2;
      }

      .error & {
        border-color: $secondary;
      }

      .select-opened & {
        border-color: $primary;
      }

      .error:focus-visible & {
        border-color: $primary-hover;
      }

      @media #{$is-hover} {
        .error:hover & {
          border-color: $secondary;
        }
      }

      .select-opened:hover &,
      .select-opened:focus-visible & {
        border-color: $primary;
      }
    }

    &__header-text {
      @include label-14;

      display: -webkit-box;
      color: $gray-4;
      transition: color $default-transition;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    &__header-placeholder {
      color: $gray-3;

      #{$element}[aria-disabled='true'] & {
        color: $gray-2;
        user-select: none;
      }
    }

    &__header-icon {
      flex-shrink: 0;
      width: rem(16);
      height: rem(16);
      color: $gray-4;
      transition: transform $default-transition;
      transform: rotate(90deg);

      .select-opened & {
        transform: rotate(-90deg);
      }
    }

    &__menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      width: 100%;
      padding: rem(8) 0;
      background-color: $gray-0;
      opacity: 0;
      transition:
        opacity $default-transition,
        box-shadow $default-transition;
      pointer-events: none;

      .select-opened & {
        opacity: 1;
        box-shadow: 0 rem(8) rem(16) 0 rgba(0, 0, 0, 0.1);
        pointer-events: auto;
      }

      .top-menu & {
        top: auto;
        bottom: 100%;
      }
    }

    &__menu-content {
      display: flex;
      flex-direction: column;
      min-height: rem(150);
      max-height: rem(200);
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: $gray-3 transparent;

      &::-webkit-scrollbar {
        width: rem(2);
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-3;
      }
    }

    &__error-text-wrapper {
      max-height: 0;
      opacity: 0;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease;

      .error & {
        max-height: rem(36);
        opacity: 1;
      }
    }

    &__error-text {
      @include caption-12;

      padding-top: rem(4);
      color: $secondary;
      pointer-events: none;
    }
  }
</style>
