---
import { BASE } from '../scripts/helpers/constants.js';
import ArrowButton from '../ui/ArrowButton.astro';

const {
  class: className,
  ...attrs
} = Astro.props;

const classes = ['capital-structures-section', 'js-tabs-container', className];

const tabList = [
  {
    tabName: 'monolithic-works',
    tabText: 'Монолитные работы',
    tabContent: {
      text: `
        Это технология возведения несущих конструкций зданий
        и сооружений из бетона, заливаемого непосредственно
        на объекте в единую форму (опалубку). В отличие от
        сборного железобетона, монолит позволяет создавать
        цельные конструкции без стыков, обеспечивая повышенную
        прочность и гибкость архитектурных решений. Этот метод
        широко применяется в капитальном строительстве многоэтажных жилых домов,
        коммерческих комплексов, мостов и промышленных объектов.
      `,
      imageSrc: `${BASE}images/capital-structures-section/monolithic-works.webp`,
      descriptions: [
        {
          title: 'Прочность и сейсмостойкость',
          text: `
            Цельная структура без швов выдерживает
            нагрузки до 20–30% выше сборных аналогов
          `,
        },
        {
          title: 'Тепло- и звукоизоляция',
          text: `
            Минимальные мостики холода
          `,
        },
        {
          title: 'Гибкость',
          text: `
            Легко реализовать сложные формы,
            большие пролёты (до 12 м) и нестандартную архитектуру
          `,
        },
        {
          title: 'Экономия',
          text: `
            Снижение затрат на 10–15% за счёт отсутствия
            стыков и ускорения монтажа (до 5 этажей в месяц)
          `,
        },
      ],
      stages: [
        {
          title: 'Подготовка и проектирование',
          text: `
            Разработка рабочей документации, расчёт нагрузок,
            выбор марки бетона и арматуры.
            Проводится геодезическая разметка участка
          `,
        },
        {
          title: 'Установка опалубки',
          text: `
            Монтаж щитовой, рамной или туннельной
            опалубки из металла, пластика или дерева.
            Фиксация с помощью подпорок и анкеров для выдержки геометрии
          `,
        },
        {
          title: 'Армирование',
          text: `
            Сварка или вязка стальной арматуры
            (диаметром 6–40 мм) в каркасы по проекту.
            Обеспечивает восприятие растягивающих усилий бетоном
          `,
        },
        {
          title: 'Заливка бетона',
          text: `
            Подача смеси автобетоносмесителями или насосами.
            Уплотнение вибраторами для удаления
            воздуха и равномерного распределения
          `,
        },
        {
          title: 'Уход за бетоном',
          text: `
            Полив водой, укрытие плёнкой для набора прочности
            (28 суток до 100% по марке). Контроль температуры и влажности
          `,
        },
        {
          title: 'Распалубка и отделка',
          text: `
            Снятие опалубки после достижения 70% прочности, обработка поверхностей
          `,
        },
      ],
    }
  },
  {
    tabName: 'masonry-works',
    tabText: 'Кладочные работы',
    tabContent: {
      text: `
        Процесс возведения вертикальных ограждающих и несущих
        конструкций (стен, перегородок, колонн) путем укладки
        штучных строительных материалов на связующий раствор.
        В отличие от монолитных технологий, кладка обеспечивает
        высокие показатели паропроницаемости («дышащие стены»)
        и не требует сложной опалубочной системы. Данный метод
        является эталонным при строительстве жилых комплексов бизнес-класса,
        индивидуальных жилых домов и реконструкции исторических объектов.
      `,
      imageSrc: `${BASE}images/capital-structures-section/masonry-works.webp`,
      descriptions: [
        {
          title: 'Энергоэффективность',
          text: `
            Современные материалы (поризованная керамика, газобетон) обладают низким
            коэффициентом теплопроводности, что позволяет снизить затраты на отопление.
          `,
        },
        {
          title: 'Экологичность и микроклимат',
          text: `
            Природные материалы обеспечивают оптимальную влажность
            в помещении и высокую огнестойкость (класс НГ — негорючие).
          `,
        },
        {
          title: 'Архитектурная выразительность',
          text: `
            Возможность создания сложных фасадов,
            эркеров и декоративных элементов («баварская кладка», рустовка).
          `,
        },
        {
          title: 'Долговечность',
          text: `
            Срок службы кирпичных зданий
            при соблюдении технологий превышает 100–150 лет.
          `,
        },
      ],
      stages: [
        {
          title: 'Подготовка основания и гидроизоляция',
          text: `
            Очистка поверхности перекрытий или фундамента,
            проверка проектных отметок лазерными нивелирами.
            Укладка гидроизоляционного слоя
            (отсечная гидроизоляция) для предотвращения капиллярного подъема влаги
          `,
        },
        {
          title: 'Геодезическая разметка',
          text: `
            Вынос осей здания и установка порядовок — специальных реек,
            контролирующих высоту каждого ряда и горизонтальность швов
          `,
        },
        {
          title: 'Возведение первого ряда',
          text: `
            Самый ответственный этап, на котором
            корректируются минимальные отклонения основания
            с помощью цементно-песчаного раствора
            для создания идеального горизонта
          `,
        },
        {
          title: 'Порядовая кладка и перевязка',
          text: `
            Укладка материала (кирпич, блоки) с обязательным
            смещением вертикальных швов (перевязкой)
            для равномерного распределения нагрузки.
          `,
        },
        {
          title: 'Армирование',
          text: `
            Прокладка стальных или композитных сеток через каждые 3–4 ряда для повышения
            устойчивости конструкции к деформациям и предотвращения появления трещин.
          `,
        },
        {
          title: 'Устройство проемов и перемычек',
          text: `
            Установка готовых железобетонных или металлических балок
            над окнами и дверями для восприятия нагрузки от вышележащих рядов.
          `,
        },
      ],
    }
  },
  {
    tabName: 'metal-structures',
    tabText: 'Металлоконструкции',
    tabContent: {
      text: `
        Это технология создания силового каркаса зданий
        и сооружений из стальных элементов (балок, колонн, ферм),
        соединяемых с помощью сварки или высокопрочных
        болтовых соединений. Этот метод является
        безальтернативным для промышленного строительства,
        возведения логистических хабов, стадионов 
        и большепролетных торговых центров.
      `,
      imageSrc: `${BASE}images/capital-structures-section/metal-structures.webp`,
      descriptions: [
        {
          title: 'Высокая скорость',
          text: `
            Возможность вести монтаж круглогодично при любых температурах.
          `,
        },
        {
          title: 'Сверхдлинные пролеты',
          text: `
            Реализация пространственных ферм, позволяющих
            перекрывать пролеты до 100 метров без промежуточных опор.
          `,
        },
        {
          title: 'Технология «умного металла»',
          text: `
            Использование сталей с термомеханической обработкой,
            которые при меньшем весе выдерживают экстремальные нагрузки.
          `,
        },
      ],
      stages: [
        {
          title: 'Проектирование КМ и КМД',
          text: `
            Разработка детальных чертежей конструкций металлических деталировочных
            с использованием программных комплексов
            для исключения геометрических ошибок при сборке.
          `,
        },
        {
          title: 'Изготовление и антикоррозийная защита',
          text: `
            Заводское производство элементов с последующим нанесением огнезащитных
            составов и антикоррозийных покрытий (холодное или горячее цинкование).
          `,
        },
        {
          title: 'Монтаж на объекте',
          text: `
            Укрупнительная сборка блоков на земле и их последующий подъем
            в проектное положение с использованием тяжелой грузоподъемной техники.
          `,
        },
        {
          title: 'Контроль соединений',
          text: `
            Ультразвуковой и рентгенографический контроль качества сварных швов,
            а также тарировка затяжки болтов с контролируемым натяжением.
          `,
        },
      ],
    }
  },
  {
    tabName: 'wood-plastic-structures',
    tabText: 'Конструкции из дерева и пластмасс',
    tabContent: {
      text: `
        Данный блок охватывает применение инновационных
        композитов и инженерной древесины в
        специфических условиях эксплуатации, где традиционные
        бетон или сталь подвержены коррозии или имеют избыточный вес.
      `,
      imageSrc: `${BASE}images/capital-structures-section/wood-plastic-structures.webp`,
      descriptions: [
        {
          title: 'Инженерная древесина (CLT и LVL)',
          text: `
            Использование многослойных клееных панелей и бруса
            для строительства многоэтажных деревянных
            зданий и уникальных экологичных объектов.
          `,
        },
        {
          title: 'Светопрозрачные конструкции из ETFE-мембран',
          text: `
            Использование высокотехнологичного фторопласта (пластмассы) для
            создания «воздушных» куполов и фасадов, которые в десятки раз легче стекла.
          `,
        },
        {
          title: 'Стеклопластиковые и композитные профили',
          text: `
            Применение пластмасс, армированных волокном, для возведения мостиков,
            настилов и каркасов в химически агрессивных средах или зонах с высокой влажностью.
          `,
        },
      ],
      stages: [
        {
          title: 'Подбор материала',
          text: `
            Анализ среды (влажность, химические испарения,
            температурные колебания) для выбора
            оптимального полимера или типа древесины
          `,
        },
        {
          title: 'Прецизионная обработка',
          text: `
            Раскрой элементов на станках с ЧПУ
            (числовым программным управлением) с точностью до 0,1 мм
          `,
        },
        {
          title: 'Специфический монтаж',
          text: `
            Применение клеевых систем и специализированного крепежа
            из нержавеющей стали или титана для предотвращения гальванической коррозии.
          `,
        },
      ],
    }
  },
];
---

<section
  id="capital-structures"
  class:list={classes}
  {...attrs}
>
  <div class="capital-structures-section__top">
    <h2 class="capital-structures-section__title">
      Строительно-монтажные работы:<br>Капитальные объекты
    </h2>

    <div class="capital-structures-section__tabs-container">
      <div class="capital-structures-section__tabs">
        {tabList.map((item, index) => (
          <button
            class:list={['capital-structures-section__tab', { 'active': index === 0 }]}
            type="button"
            data-tab={item.tabName}
          >
            {item.tabText}
          </button>
        ))}
      </div>
    </div>
  </div>

  <div class="capital-structures-section__bottom js-tabs-content-wrapper">
    {tabList.map((item, index) => (
      <div
        class:list={['capital-structures-section__tab-content', { 'visible': index === 0 }]}
        data-tab-content={item.tabName}
      >
        <div class="capital-structures-section__tab-content-top">
          <div class="capital-structures-section__tab-content-info">
            <h3 class="capital-structures-section__tab-content-title">
              {item.tabText}
            </h3>

            <p class="capital-structures-section__tab-content-text">
              {item.tabContent.text}
            </p>

            <div class="capital-structures-section__tab-content-descriptions">
              {item.tabContent.descriptions.map((description) => (
                <div class="capital-structures-section__tab-content-description">
                  <h4 class="capital-structures-section__tab-content-description-title">
                    {description.title}
                  </h4>

                  <p class="capital-structures-section__tab-content-description-text">
                    {description.text}
                  </p>
                </div>
              ))}
            </div>
          </div>
          <div class="capital-structures-section__tab-image-wrapper">
            <img
              class="capital-structures-section__tab-image"
              src={item.tabContent.imageSrc}
              alt={item.tabText}
            />
          </div>
        </div>
      </div>
    ))}
  </div>
</section>

<script>
  function tabSwitcher() {
    const tabContainers = document.querySelectorAll('.js-tabs-container');

    tabContainers.forEach((tabContainer) => {
      const tabs = tabContainer.querySelectorAll('[data-tab]');
      const tabsContentWrapper = tabContainer.querySelector('.js-tabs-content-wrapper');

      if (!tabsContentWrapper || !tabs.length) {
        return;
      }

      const tabContents = tabsContentWrapper.querySelectorAll('[data-tab-content]');

      tabs.forEach((tab) => {
        tab.addEventListener('click', () => {
          tabs.forEach((item) => {
            item.classList.remove('active');
          });

          tabContents.forEach((content) => {
            content.classList.remove('visible');
          });

          const currentTabName = tab.getAttribute('data-tab');
          const currentTabContent = tabsContentWrapper.querySelector(`[data-tab-content="${currentTabName}"]`);

          tab.classList.add('active');

          if (!currentTabContent) {
            return;
          }

          currentTabContent.classList.add('visible');
        });
      });
    });
  }

  tabSwitcher();
</script>

<style lang="scss" is:global>
  .capital-structures-section {
    $element: &;

    padding: rem(60) 0;
    background-color: $light;

    @media #{$tablet} {
      padding: rem(80) 0;
    }

		&__top {
      @include base-container;
		}

		&__title {
      margin-bottom: rem(52);
      color: $dark;

      @media #{$desktop} {
        margin-bottom: rem(80);
      }
		}

		&__tabs-container {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
      }
		}

		&__tabs {
      position: relative;
      display: flex;
      gap: rem(16);
      z-index: 1;
      overflow-x: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
		}

		&__tab {
      @include resetbtn;
      @include text2;

      flex-shrink: 0;
      padding: rem(8) rem(12);
      color: $dark-gray;
      cursor: pointer;
      transition:
        background-color $default-transition,
        color $default-transition;

      @media #{$desktop} {
        padding: rem(12) rem(16);
      }

      @media #{$is-hover} {
        &:hover {
          background-color: $primary-50;
          color: $light;
        }
      }

      &:active,
      &:focus-visible {
        background-color: $primary-50;
        color: $light;
      }

      &.active {
        background-color: $primary;
        color: $light;
        pointer-events: none;
      }
		}

    &__bottom {
      position: relative;
      overflow: hidden;
      transition: height $default-transition;
    }

		&__tab-content {
      @include base-container;

      display: none;

      &.visible {
        display: block;
      }
    }

		&__tab-content-top {
      display: flex;
      flex-direction: column;
      gap: rem(32);
      margin-bottom: rem(52);
      padding-top: rem(52);

      @media #{$tablet} {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: rem(20);
        margin-right: calc(-1 * var(--container-padding));
      }

      @media #{$desktop} {
        margin-bottom: rem(80);
        margin-right: 0;
        padding-top: 0;
      }
    }

		&__tab-content-info {
      @media #{$tablet} {
        flex-grow: 1;
      }

      @media #{$desktop} {
        padding-top: rem(52);
      }
		}

		&__tab-content-title {
      margin-bottom: rem(32);
      text-transform: uppercase;
      color: $dark;
		}

		&__tab-content-text {
      @include text1;

      margin-bottom: rem(32);
      color: $dark;

      @media #{$tablet} {
        margin-bottom: rem(52);
      }

      @media #{$desktop} {
        margin-bottom: rem(66);
        max-width: rem(580);
      }
		}

		&__tab-content-descriptions {
      display: flex;
      flex-wrap: wrap;
      gap: rem(24);

      @media #{$tablet} {
        row-gap: rem(32);
        column-gap: rem(20);
      }

      @media #{$desktop} {
        row-gap: rem(36);
        column-gap: rem(80);
      }
		}

		&__tab-content-description {
      flex-shrink: 0;
      flex-basis: 100%;

      @media #{$tablet} {
        flex-basis: calc(50% - #{rem(10)});
      }

      @media #{$desktop} {
        row-gap: rem(36);
        flex-basis: calc(50% - #{rem(40)});
      }
		}

		&__tab-content-description-title {
      @include h5;

      margin-bottom: rem(12);
      color: $primary;
		}

		&__tab-content-description-text {
      @include text3;

      color: $dark-gray;
		}

		&__tab-image-wrapper {
      position: relative;

      @media #{$tablet} {
        flex-shrink: 0;
        width: rem(502);
        height: rem(607);
        overflow: hidden ;
      }

      @media #{$desktop} {
        width: rem(690);
      }
		}

		&__tab-image {
      display: block;
      width: 100%;
      max-width: none;
      max-height: none;

      @media #{$tablet} {
        position: absolute;
        top: 0;
        left: 0;
        width: rem(690);
      }

      @media #{$desktop} {
        position: static;
        width: 100%;
      }
		}
  }
</style>
