---
import BaseSection from '../ui/BaseSection.astro';
import LinkCard from '../components/LinkCard.astro';

const { class: className, 'card-list': cardList, ...attrs } = Astro.props;

const validCardList = Array.isArray(cardList) ? cardList : [];

const classes = ['crp-cards-section', className];
---

{
  validCardList.length > 0 && (
    <BaseSection
      class:list={classes}
      {...attrs}
    >
      <div class="crp-cards-section__cards">
        {cardList.map(card => (
          <LinkCard
            class="crp-cards-section__card"
            link-url={card.linkUrl}
            icon-url={card.iconUrl}
            icon-size="sm"
            title={card.title}
            title-position="bottom"
            caption-text={card.captionText}
            caption-arrow={false}
            theme="light"
            border="all"
            disabled={card.disabled}
          />
        ))}
      </div>
    </BaseSection>
  )
}

<style lang="scss" is:global>
  .crp-cards-section {
    $element: &;

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: rem(242);
      gap: rem(24);
    }
  }
</style>
