---
import { BASE } from '../scripts/helpers/constants.js';
import ArrowButton from '../ui/ArrowButton.astro';
import BaseModal from '../ui/BaseModal.astro';
import BaseIcon from '../ui/BaseIcon.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['designing-section', className];

const accordionList = [
  {
    title: 'Инженерные изыскания',
    text: `
      Создание цифрового двойника местности. Этот этап является
      критическим для обеспечения механической безопасности
      зданий и сооружений. За последние 20 лет под руководством
      наших лидеров были проведены исследования на территориях
      со сложнейшей геологией: от карстовых полостей
      и плывунов до зон с высокой сейсмической активностью.
    `,
    modalName: 'engineering-survey',
  },
  {
    title: 'Проектирование: Интеллектуальное моделирование объектов',
    text: `
      Это не просто чертежи, а создание информационной модели,
      которая живет на протяжении всего срока эксплуатации здания.
      Опыт позволяет нам предвидеть узкие места в проекте еще на стадии эскиза,
      оптимизируя металлоемкость и энергоэффективность.
    `,
    modalName: 'object-modeling',
  },
  {
    title: 'Градостроительная документация и экспертиза',
    text: `
      Юридическая чистота и градостроительная эффективность
      проекта — результат 20-летней практики взаимодействия
      с государственными структурами и экспертными советами.
    `,
    modalName: 'town-planning-documentation',
  },
];

const modalList = [
  {
    modalName: 'engineering-survey',
    title: 'Инженерные изыскания',
    text: `
      Этот этап является критическим для обеспечения
      механической безопасности зданий и сооружений. 
    `,
    descriptions: [
      {
        title: 'Инженерно-геологические изыскания',
        text: `
          Бурение разведочных скважин, статическое и динамическое
          зондирование грунтов, лабораторные исследования
          физико-механических свойств почв и химического
          состава подземных вод.
          Это позволяет исключить неравномерную осадку здания.
        `,
      },
      {
        title: 'Инженерно-геодезические изыскания',
        text: `
          Создание планово-высотного обоснования,
          топографическая съемка, трассирование линейных объектов.
        `,
      },
      {
        title: 'Инженерно-экологические изыскания',
        text: `
          Анализ радиационной обстановки, санитарно-химическое
          и микробиологическое исследование почв, воздуха
          и воды для обеспечения безопасности
          здоровья будущих жителей или сотрудников.
        `,
      },
    ],
    technologies: [
      {
        iconName: 'drone',
        title: 'Мобильное и воздушное лазерное сканирование (LIDAR)',
        description: `
          Позволяет получать облако точек с миллиметровой точностью,
          формируя детальную 3D-модель рельефа и существующих объектов даже
          в условиях плотной застройки или густой растительности.
        `,
      },
      {
        iconName: 'profile',
        title: 'Георадарное профилирование',
        description: `
          Неразрушающий метод подповерхностного зондирования,
          который выявляет скрытые инженерные сети, пустоты и аномалии
          в структуре грунта без проведения раскопок.
        `,
      },
      {
        iconName: 'lot',
        title: 'Цифровая лаборатория (IoT-датчики)',
        description: `
          Установка автономных датчиков мониторинга уровня и состава грунтовых вод
          с передачей данных в режиме реального времени на сервер проектировщиков.
        `,
      },
    ],
    objects: [
      {
        iconUrl: `${BASE}images/designing-section/icons/nv.svg`,
        title: 'Великий Новгород',
        description: `
          Изыскания гребного канала в центре города
          с использованием понтонов для последующей разработки
          проекта расчистки дна с целью восполнения Волховского водохранилища
        `,
      },
    ],
  },
  {
    modalName: 'object-modeling',
    title: 'Проектирование: Интеллектуальное моделирование объектов',
    text: `
      Это не просто чертежи, а создание информационной модели,
      которая живет на протяжении всего срока эксплуатации здания.
    `,
    descriptions: [
      {
        title: 'Проектирование объектов капитального строительства',
        text: `
          Разработка всех разделов согласно Постановлению
          №87 (АР, КР, ИОС и др.) для жилых,
          общественных и промышленных зданий.
        `,
      },
      {
        title: 'Проектирование линейных сооружений',
        text: `
          Магистральные сети, эстакады, путепроводы и линии связи.
          Особое внимание уделяется гидравлическим
          расчетам и защите от коррозии.
        `,
      },
      {
        title: 'Специальное проектирование (Объекты культуры)',
        text: `
          Работа под лицензией Министерства культуры Российской Федерации,
          включающая научное руководство, приспособление
          памятников архитектуры к современному
          использованию без утраты их исторической ценности.
        `,
      },
    ],
    technologies: [
      {
        iconName: 'bim',
        title: 'BIM (Building Information Modeling) Уровень 3',
        description: `
          Переход от 2D-чертежей к многомерной информационной модели
          (6D), которая включает в себя не только геометрию (3D), но и время
          (4D — календарный план), стоимость (5D — сметы) и данные по эксплуатации (6D).
        `,
      },
      {
        iconName: 'ai',
        title: 'Генеративный дизайн и параметрическое моделирование',
        description: `
          Использование алгоритмов для автоматической генерации
          сотен вариантов планировок или конструктивных
          решений на основе заданных параметров
          (освещенность, нагрузка, бюджет) для выбора наиболее эффективного.
        `,
      },
      {
        iconName: 'vr',
        title: 'VR/AR-сопровождение проекта',
        description: `
          Виртуальные туры по проектируемому объекту для заказчика
          и использование дополненной реальности инженерами
          авторского надзора непосредственно
          на стройплощадке для сверки возводимых конструкций с цифровой моделью.
        `,
      },
    ],
    objects: [
      {
        iconUrl: `${BASE}images/designing-section/icons/lakhta.svg`,
        title: 'Лахта центр',
        description: `
          Разработка отдельных разделов проектной
          документации внутренних инженерных сетей
        `,
      },
      {
        iconUrl: `${BASE}images/designing-section/icons/ska.svg`,
        title: 'СКА Арена',
        description: `
          Разработка отдельных разделов проектной
          документации внутренних инженерных сетей
        `,
      },
    ],
  },
  {
    modalName: 'town-planning-documentation',
    title: 'Градостроительная документация и экспертиза',
    text: `
      Юридическая чистота и градостроительная эффективность проекта.
    `,
    descriptions: [
      {
        title: 'ПЗЗ, ППТ и ПМТ',
        text: `
          Разработка правил землепользования, проектов планировки
          и межевания территорий с целью максимального
          раскрытия девелоперского потенциала
          участка при строгом соблюдении региональных нормативов.
        `,
      },
      {
        title: 'Негосударственная экспертиза',
        text: `
          Проведение независимой оценки проектной документации,
          что позволяет сократить сроки получения разрешения
          на строительство и повысить качество технических решений.
        `,
      },
      {
        title: 'Авторский надзор',
        text: `
          Непрерывный контроль со стороны проектировщиков за
          соответствием строительных работ проектным решениям,
          что гарантирует надежность и долговечность объекта.
        `,
      },
    ],
    paragraphs: [
      {
        text: `
          Этот комплексный подход, подкрепленный мощной
          технологической базой и многолетним опытом управления проектами,
          обеспечивает нашим партнерам минимальные риски и
          высокую инвестиционную привлекательность каждого квадратного метра.
        `,
      },
    ],
    objects: [
      {
        iconUrl: `${BASE}images/designing-section/icons/deer.svg`,
        title: 'Ненецкий автономный округ',
        description: `
          Формирование ПЗЗ
        `,
      },
    ],
  },
];
---

<section
  id="designing"
  class:list={classes}
  {...attrs}
>
  <div class="designing-section__container">
    <div class="designing-section__title-block">
      <img
        class="designing-section__image"
        src={`${BASE}images/designing-section/designing-image.webp`}
        alt="фото"
      />

      <h2 class="designing-section__title">Проектирование и&nbsp;инженерные изыскания</h2>
    </div>

    <div class="designing-section__accordion-block js-designing-accordion">
      {
        accordionList.map(item => (
          <div class="designing-section__accordion-section js-designing-accordion-section">
            <div
              class="designing-section__accordion-section-title js-designing-accordion-section-title"
              tabindex="0"
            >
              <div class="designing-section__accordion-section-title-text">{item.title}</div>
            </div>

            <div class="designing-section__accordion-section-body-wrapper js-designing-accordion-section-body-wrapper">
              <div class="designing-section__accordion-section-body js-designing-accordion-section-body">
                <p class="designing-section__accordion-section-body-text">{item.text}</p>

                <ArrowButton
                  class="designing-section__accordion-section-body--link"
                  text="подробнее"
                  data-modal-open={item.modalName}
                />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  {
    modalList.map(modal => (
      <BaseModal
        class="designing-section__modal"
        name={modal.modalName}
      >
        <div class="designing-section__modal-content">
          <h2 class="designing-section__modal-title">{modal.title}</h2>

          <p class="designing-section__modal-text">{modal.text}</p>

          {modal.descriptions?.length > 0 && (
            <div class="designing-section__modal-descriptions">
              {modal.descriptions.map(item => (
                <div class="designing-section__modal-description">
                  <h4 class="designing-section__modal-description-title">{item.title}</h4>
                  <p class="designing-section__modal-description-text">{item.text}</p>
                </div>
              ))}
            </div>
          )}

          {modal.paragraphs?.length > 0 && (
            <div class="designing-section__modal-paragraphs">
              {modal.paragraphs.map(item => (
                <p class="designing-section__modal-paragraph">{item.text}</p>
              ))}
            </div>
          )}

          {modal.technologies?.length > 0 && (
            <div class="designing-section__modal-technologies">
              <h3 class="designing-section__modal-technologies-header">Технологии</h3>

              {modal.technologies.map(item => (
                <div class="designing-section__modal-technology">
                  <BaseIcon
                    class="designing-section__modal-technology-icon"
                    name={item.iconName}
                  />

                  <div class="designing-section__modal-technology-info">
                    <h4 class="designing-section__modal-technology-title">{item.title}</h4>
                    <p class="designing-section__modal-technology-text">{item.description}</p>
                  </div>
                </div>
              ))}
            </div>
          )}

          {modal.objects?.length > 0 && (
            <div class="designing-section__modal-objects">
              <h3 class="designing-section__modal-objects-header">Основные объекты</h3>

              {modal.objects.map(item => (
                <div class="designing-section__modal-object">
                  <img
                    class="designing-section__modal-object-icon"
                    src={item.iconUrl}
                    alt="иконка"
                  />

                  <div class="designing-section__modal-object-info">
                    <h4 class="designing-section__modal-object-title">{item.title}</h4>
                    <p class="designing-section__modal-object-text">{item.description}</p>
                  </div>
                </div>
              ))}
            </div>
          )}
        </div>
      </BaseModal>
    ))
  }
</section>

<script>
  import { Accordion } from '../scripts/helpers/commonAccordion.js';

  function designingAccordion() {
    const accordions = document.querySelectorAll('.js-designing-accordion');

    accordions.forEach(accordion => {
      new Accordion({
        accordionElement: accordion,
        sectionClass: '.js-designing-accordion-section',
        activeSectionClass: '.designing-accordion-section-active',
        sectionTitleClass: '.js-designing-accordion-section-title',
        sectionContentWrapperClass: '.js-designing-accordion-section-body-wrapper',
        sectionContentClass: '.js-designing-accordion-section-body',
        showHideTime: 500,
        onLoadActiveSectionNums: [0],
      }).init();
    });
  }

  designingAccordion();
</script>

<style lang="scss" is:global>
  .designing-section {
    $element: &;

    background-color: $dark;

    &__container {
      @include large-container;

      @media #{$tablet} {
        display: flex;
        height: rem(522);
      }

      @media #{$desktop} {
        height: rem(754);
      }
    }

    &__title-block {
      position: relative;
      height: rem(528);

      @media #{$tablet} {
        flex-grow: 1;
        height: 100%;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba($dark, 0) 0%, rgba($dark, 0.5) 73%, $dark 100%);
        content: '';
      }
    }

    &__image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      @include h2;

      position: absolute;
      right: rem(16);
      bottom: rem(32);
      z-index: 1;
      width: calc(100% - rem(32));
      color: $light;

      @media #{$tablet} {
        right: rem(20);
        width: calc(100% - rem(40));
      }

      @media #{$desktop} {
        right: rem(20);
        bottom: rem(46);
        width: rem(670);
      }
    }

    &__accordion-block {
      border-top: 1px solid $light-gray;
      background-color: $dark;

      @media #{$tablet} {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: calc(50% + #{rem(12)});
        border-top: none;
        border-left: 1px solid $light-gray;
      }

      @media #{$desktop} {
        width: calc(50% + #{rem(10)});
      }
    }

    &__accordion-section {
      padding: 0 rem(16);
      border-bottom: 1px solid $light-gray;

      @media #{$tablet} {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 rem(20);
        transition: flex-grow $default-transition;
      }

      @media #{$desktop} {
        padding: 0 rem(70) 0 rem(80);
      }

      &:last-child {
        border-bottom: none;
      }

      &.designing-accordion-section-active {
        @media #{$tablet} {
          flex-grow: 2;
        }
      }
    }

    &__accordion-section-title {
      padding: rem(32) 0;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      @media #{$desktop} {
        max-width: rem(580);
        padding: rem(64) 0;
      }
    }

    &__accordion-section-title-text {
      @include h4;

      color: $light;
    }

    &__accordion-section-body {
      padding-bottom: rem(32);

      @media #{$desktop} {
        padding-bottom: rem(64);
      }
    }

    &__accordion-section-body-text {
      @include text1;

      margin-bottom: rem(32);
      color: $light;

      @media #{$desktop} {
        max-width: rem(580);
      }
    }

    &__modal-content {
      padding: rem(32) rem(8) rem(32) rem(20);

      @media #{$tablet} {
        width: rem(862);
        padding: rem(32) rem(10) rem(32) rem(20);
      }

      @media #{$desktop} {
        width: rem(714);
        padding: rem(24) rem(10) rem(24) rem(20);
      }
    }

    &__modal-title {
      max-width: rem(274);
      margin-bottom: rem(32);
      color: $light;

      @media #{$tablet} {
        max-width: rem(740);
      }

      @media #{$desktop} {
        max-width: rem(600);
      }
    }

    &__modal-text {
      @include text2;

      margin-bottom: rem(52);
      color: $light;

      @media #{$desktop} {
        margin-bottom: rem(64);
      }
    }

    &__modal-descriptions {
      margin-bottom: rem(52);

      @media #{$desktop} {
        margin-bottom: rem(64);

        @media #{$desktop} {
          max-width: rem(580);
        }
      }
    }

    &__modal-description {
      margin-bottom: rem(32);

      @media #{$desktop} {
        margin-bottom: rem(36);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__modal-description-title {
      @include h5;

      margin-bottom: rem(12);
      color: $light;

      @media #{$desktop} {
        margin-bottom: rem(16);
      }
    }

    &__modal-description-text {
      @include text1;

      color: $light;
    }

    &__modal-paragraphs {
      margin-bottom: rem(52);

      @media #{$desktop} {
        margin-bottom: rem(64);

        @media #{$desktop} {
          max-width: rem(580);
        }
      }
    }

    &__modal-paragraph {
      @include text1;
      margin-bottom: rem(32);

      color: $light;

      @media #{$desktop} {
        margin-bottom: rem(36);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__modal-technologies {
      margin-bottom: rem(52);

      @media #{$desktop} {
        max-width: rem(630);
        margin-bottom: rem(64);
      }
    }

    &__modal-technologies-header {
      @include h4;

      margin-bottom: rem(44);
      color: $light;
    }

    &__modal-technology {
      display: flex;
      align-items: flex-start;
      gap: rem(36);
      margin-bottom: rem(32);

      @media #{$desktop} {
        margin-bottom: rem(36);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__modal-technology-icon {
      flex-shrink: 0;
      width: rem(60);
      height: rem(60);
      color: $light-gray;
    }

    &__modal-technology-info {
      flex-grow: 1;
    }

    &__modal-technology-title {
      @include h5;

      margin-bottom: rem(16);
      color: $light;
    }

    &__modal-technology-text {
      @include text1;

      color: $light;
    }

    &__modal-objects {
      @media #{$desktop} {
        max-width: rem(630);
      }
    }

    &__modal-objects-header {
      @include h4;

      margin-bottom: rem(44);
      color: $light;
    }

    &__modal-object {
      display: flex;
      align-items: flex-start;
      gap: rem(36);
      margin-bottom: rem(32);

      @media #{$desktop} {
        margin-bottom: rem(36);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__modal-object-icon {
      flex-shrink: 0;
      width: rem(60);
      height: rem(60);
      color: $light-gray;
    }

    &__modal-object-info {
      flex-grow: 1;
    }

    &__modal-object-title {
      @include h5;

      margin-bottom: rem(16);
      color: $light;
    }

    &__modal-object-text {
      @include text1;

      color: $light;
    }
  }
</style>
