---
import BaseSection from '../ui/BaseSection.astro';
import DocumentLink from '../ui/DocumentLink.astro';
import BaseButton from '../ui/BaseButton.astro';

const { class: className, title, 'link-list': linkList, button, ...attrs } = Astro.props;

const validLinkList = Array.isArray(linkList) ? linkList : [];

const classes = ['document-section', className];
---

{
  validLinkList.length > 0 && (
    <BaseSection
      title={title}
      class:list={classes}
      {...attrs}
    >
      <div class="document-section__links">
        {validLinkList.map(link => (
          <DocumentLink
            class="document-section__link"
            text={link.text}
            type={link.type}
            file-size={link.fileSize}
            link-url={link.linkUrl}
          />
        ))}
      </div>

      {button?.text && button?.linkUrl && (
        <BaseButton
          class="document-section__button"
          theme="bordered-primary"
          text={button.text}
          href={button.linkUrl}
        />
      )}
    </BaseSection>
  )
}

<style lang="scss" is:global>
  .document-section {
    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(24);
    }

    &__button {
      display: inline-flex;
      margin-top: rem(32);
    }
  }
</style>
