---
import { BASE } from '../scripts/helpers/constants.js';
import BaseSection from '../ui/BaseSection.astro';
import LinkCard from '../components/LinkCard.astro';

const { class: className, ...attrs } = Astro.props;

const classes = ['portals-section', className];
---

<BaseSection
  class:list={classes}
  {...attrs}
>
  <div class="portals-section__content">
    <h2 class="portals-section__title">Порталы функциональных служб</h2>

    <LinkCard
      class="portals-section__card"
      link-url="#"
      title="Портал ЦРП"
      text="Рабочие документы, сервисы и заявки"
      shadow={true}
      bottom-reverse={true}
      arrow-theme="primary"
      background={`${BASE}images/main-page/portal-cards/crp-background.webp`}
    />

    <LinkCard
      class="portals-section__card"
      link-url="#"
      title="Портал ЦНТ"
      text="Информация и формы обратной связи"
      shadow={true}
      bottom-reverse={true}
      arrow-theme="primary"
      background={`${BASE}images/main-page/portal-cards/cnt-background.webp`}
    />
  </div>
</BaseSection>

<style lang="scss" is:global>
  .portals-section {
    &__content {
      display: flex;
      gap: rem(24);
      height: rem(240);
    }

    &__title {
      @include h4;
      flex-shrink: 0;
      width: calc(33.33% - #{rem(16)});

      margin: 0;
    }

    &__card {
      flex-shrink: 0;
      width: calc(33.33% - #{rem(16)});
    }
  }
</style>
