---
import { BASE } from '../scripts/helpers/constants.js';
import BaseSection from '../ui/BaseSection.astro';
import BaseTag from '../ui/BaseTag.astro';
import Pagination from '../ui/Pagination.astro';
import BaseButton from '../ui/BaseButton.astro';

const {
  class: className,
  'search-word': searchWord,
  'search-results-list': searchResultsList,
  'pagination-list': paginationList,
  ...attrs
} = Astro.props;

const validSearchResultsList = Array.isArray(searchResultsList) ? searchResultsList : [];

const classes = ['search-results-section', className];
---

<BaseSection
  class:list={classes}
  {...attrs}
>
  <h1 class="search-results-section__title">
    {
      validSearchResultsList.length > 0
        ? `Результаты поиска по запросу «${searchWord}»`
        : 'Ничего не найдено'
    }
  </h1>

  {
    validSearchResultsList.length > 0 ? (
      <Fragment>
        <ol class="search-results-section__list">
          {validSearchResultsList.map(item => (
            <li class="search-results-section__item">
              <a
                set:html={item.title}
                class="search-results-section__item-link"
                href={item.linkUrl}
              />
              {item.text && (
                <p
                  set:html={item.text}
                  class="search-results-section__item-text"
                />
              )}
              {item.tagText && (
                <BaseTag
                  class="search-results-section__item-tag"
                  text={item.tagText}
                  theme="primary-light"
                />
              )}
            </li>
          ))}
        </ol>
        <Pagination
          class="search-results-section__pagination"
          items={paginationList}
        />
      </Fragment>
    ) : (
      <Fragment>
        <p class="search-results-section__advice-text">
          Попробуйте скорректировать запрос или начните с Главной.
        </p>
        <BaseButton
          class="search-results-section__link-button"
          text="Перейти на главную"
          href={`${BASE}index.html`}
        />
      </Fragment>
    )
  }
</BaseSection>

<style lang="scss" is:global>
  .search-results-section {
    &__title {
      @include h2;

      margin: 0 0 rem(80);
      text-transform: none;
    }

    &__list {
      max-width: rem(744);
      margin: 0;
      padding: 0;
      counter-reset: li;
      list-style: none;
    }

    &__item {
      margin: 0 0 rem(40);
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        display: none;
      }
    }

    &__item-link {
      @include reseta;
      @include h4;

      display: block;
      text-decoration: underline;
      text-underline-offset: 0.3em;
      text-decoration-color: transparent;
      transition: text-decoration-color $default-transition;

      @media #{$is-hover} {
        &:hover {
          text-decoration-color: inherit;
        }
      }

      &:active,
      &:focus-visible {
        text-decoration-color: inherit;
      }

      &::before {
        content: counter(li) '. ';
        counter-increment: li;
      }
    }

    &__item-text {
      @include body-18;

      margin: rem(16) 0 0;
    }

    &__item-tag {
      display: inline-flex;
      margin: rem(16) 0 0;
    }

    &__pagination {
      max-width: rem(744);
      margin-top: rem(64);
    }

    &__advice-text {
      @include body-18-demi;
      max-width: rem(744);

      margin: 0 0 rem(48);
    }

    &__link-button {
      display: inline-flex;
      max-width: rem(744);
    }
  }
</style>
