---
import BaseModal from '../ui/BaseModal.astro';
import BaseIcon from '../ui/BaseIcon.astro';
import BaseButton from '../ui/BaseButton.astro';

const {
  class: className,
  'modal-name': modalName,
  'icon-name': iconName,
  'icon-theme': iconTheme = 'primary',
  title,
  ...attrs
} = Astro.props;

const classes = ['submit-modal', iconName ? `submit-modal_icon-theme_${iconTheme}` : '', className];
---

<BaseModal
  class:list={classes}
  name={modalName}
  {...attrs}
>
  <div class="submit-modal__content">
    {
      iconName && (
        <BaseIcon
          class="submit-modal__icon"
          name={iconName}
        />
      )
    }
    {title && <h3 class="submit-modal__title">{title}</h3>}
    {
      Astro.slots.has('text') && (
        <div class="submit-modal__text">
          <slot name="text" />
        </div>
      )
    }
    <BaseButton
      class="submit-modal__modal-button"
      text="Понятно"
      data-modal-close={modalName}
    />
  </div>
</BaseModal>

<style lang="scss" is:global>
  .submit-modal {
    $element: &;

    &__content {
      width: rem(672);
      padding: rem(30) rem(32) rem(32);
      border-top: 2px solid $secondary;
      background-color: $gray-0;
      box-shadow: 0 rem(8) rem(16) 0 rgba(0, 0, 0, 0.1);
    }

    &__icon {
      display: block;
      width: rem(48);
      height: rem(48);
      margin: 0 0 rem(16);

      #{$element}_icon-theme_primary & {
        color: $primary;
      }

      #{$element}_icon-theme_secondary & {
        color: $secondary;
      }
    }

    &__title {
      margin: 0 0 rem(24);
      color: $gray-4;
    }

    &__text {
      color: $gray-4;
    }

    &__modal-button {
      margin: rem(40) 0 0;
    }
  }
</style>
