---
import { BASE } from '../scripts/helpers/constants.js';

const { class: className, ...attrs } = Astro.props;

const classes = ['title-section', className];
---

<section
  class:list={classes}
  {...attrs}
>
  <picture class="title-section__image-wrapper">
    <source
      srcset={`${BASE}images/title-section/title-screen-desktop.webp`}
      media="(min-width: 1200px)"
    />

    <source
      srcset={`${BASE}images/title-section/title-screen-tablet.webp`}
      media="(min-width: 768px) and (max-width: 1199.98px)"
    />

    <img
      class="title-section__image"
      src={`${BASE}images/title-section/title-screen-mobile.webp`}
      alt="фото"
      loading="lazy"
    />
  </picture>

  <div class="title-section__container">
    <div class="title-section__info">
      <div class="title-section__top">
        <div class="title-section__pretitle">
          Системный&nbsp;интегратор процессов&nbsp;полного&nbsp;цикла
        </div>
        <h1 class="title-section__title">
          Энергия в&nbsp;деле
        </h1>
      </div>

      <div class="title-section__info-bottom">
        <div class="title-section__expirience">20+&nbsp;лет работы</div>

        <p class="title-section__text">
          Реализуем объекты в&nbsp;сфере гражданского, промышленного и&nbsp;инфраструктурного
          строительства
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .title-section {
    $element: &;

    position: relative;
    background-color: $dark;

    height: rem(815);

    @media #{$tablet} {
      height: rem(768);
    }

    @media #{$desktop} {
      height: rem(900);
    }

    @media #{$desktop-md} {
      height: interpolation(900, 1080, 1440, 1920);
    }

    @media #{$desktop-lg} {
      height: rem(1080);
    }

    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;

      @media #{$desktop-lg} {
        left: 50%;
        transform: translateX(-50%);
        width: rem(1920);
      }
    }

    &__image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__container {
      @include base-container;

      height: 100%;
    }

    &__info {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: rem(222) 0 rem(60);
      gap: rem(32);

      @media #{$tablet} {
        padding: rem(216) 0 rem(40);
      }

      @media #{$desktop} {
        padding: rem(230) 0 rem(120);
      }
    }

    &__top {
      display: flex;
      flex-direction: column;
      gap: rem(32);
      width: 100%;

      @media #{$tablet} {
        gap: rem(40);
      }
    }

    &__pretitle {
      @include h4;

      color: $light;

      @media #{$tablet} {
        max-width: rem(330);
      }

      @media #{$desktop} {
        margin-left: rem(20);
        max-width: rem(400);
      }
    }

    &__title {
      width: 100%;
      color: $light;

      @media #{$tablet} {
        text-align: center;
        white-space: nowrap;
      }
    }

    &__info-bottom {
      display: flex;
      flex-direction: column;
      gap: rem(48);

      @media #{$tablet} {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: rem(116);
      }

      @media #{$desktop} {
        gap: rem(22);
      }
    }

    &__expirience {
      @include h1;

      color: $primary;

      @media #{$desktop} {
        margin-left: rem(20);
      }
    }

    &__text {
      @include h5;

      color: $light;

      @media #{$tablet} {
        align-self: flex-end;
        max-width: rem(356);
      }

      @media #{$desktop} {
        max-width: rem(360);
      }
    }
  }
</style>
