---
import { BASE } from '../scripts/helpers/constants.js';
import BaseButton from '../ui/BaseButton.astro';
import BaseTag from '../ui/BaseTag.astro';
import DocumentLink from '../ui/DocumentLink.astro';
import LinkCard from '../components/LinkCard.astro';
import FaqAccordion from '../components/FaqAccordion.astro';
import InfoAccordion from '../components/InfoAccordion.astro';
import TableAccordion from '../components/TableAccordion.astro';
import Pagination from '../ui/Pagination.astro';
import SubmitModal from '../components/SubmitModal.astro';
import BaseVideo from '../ui/BaseVideo.astro';
import BaseSelect from '../ui/BaseSelect.astro';
import BaseInputField from '../ui/BaseInputField.astro';
import BaseTextareaField from '../ui/BaseTextareaField.astro';
import BaseCheckbox from '../ui/BaseCheckbox.astro';

const faqAccordionList = [
  {
    title: 'Как восстановить доступ к личному кабинету?',
    text: `
			Шаблон доступен в разделе «Сотрудникам» в блоке «Документы».
			Выберите нужный тип отпуска — ежегодный, учебный или
			без сохранения зарплаты — и скачайте форму. Там же можно
			найти краткую инструкцию по заполнению и отправке заявления.
		`,
    linkUrl: '#',
  },
  {
    title: 'Где найти шаблон заявления на отпуск?',
    text: `
			Шаблон доступен в разделе «Сотрудникам» в блоке «Документы».
			Выберите нужный тип отпуска — ежегодный, учебный или
			без сохранения зарплаты — и скачайте форму. Там же можно
			найти краткую инструкцию по заполнению и отправке заявления.
		`,
    linkUrl: '#',
  },
  {
    title: 'Как отправить заявку на обучение или повышение квалификации?',
    text: `
			Шаблон доступен в разделе «Сотрудникам» в блоке «Документы».
			Выберите нужный тип отпуска — ежегодный, учебный или
			без сохранения зарплаты — и скачайте форму. Там же можно
			найти краткую инструкцию по заполнению и отправке заявления.
		`,
    linkUrl: '#',
  },
];

const infoAccordionList = [
  {
    title: 'Название 1',
    content: [
      {
        subtitle: 'Информационный заголовок',
        linkUrl: '#',
      },
      {
        subtitle: 'Информационный заголовок',
        linkUrl: '#',
      },
      {
        subtitle: 'Информационный заголовок',
        linkUrl: '#',
      },
    ],
  },
  {
    title: 'Название 2',
    content: [
      {
        subtitle: 'Информационный заголовок',
        linkUrl: '#',
      },
      {
        subtitle: 'Информационный заголовок',
        linkUrl: '#',
      },
    ],
  },
  {
    title: 'Название 3',
    content: [
      {
        subtitle: 'Информационный заголовок',
        linkUrl: '#',
      },
    ],
  },
];

const tableAccordionList = [
  {
    title: 'Отдел по кадровому администрированию и социальной работе',
    content: [
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
    ],
  },
  {
    title: 'АУП',
    content: [
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
    ],
  },
  {
    title: 'Отдел по подбору персонала',
    content: [
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
    ],
  },
  {
    title: 'Отдел труда и заработной платы',
    content: [
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
      {
        position: 'Главный специалист',
        name: 'Борисова Елена Афраимовна',
        mail: `<a href="mailto:sotrudnik@alrosa.ru">sotrudnik@alrosa.ru</a>`,
        entity: 'Институт “Яна” / Медицинский центр / АБС / КСК / КУ',
        phone: '+7 (999) 999-99-99',
        mobile: '+7 (999) 999-99-99',
      },
    ],
  },
];

const paginationList1 = [
  {
    text: '1',
    linkUrl: '#',
    isCurrentPage: true,
  },
  {
    text: '2',
    linkUrl: '#',
  },
  {
    text: '3',
    linkUrl: '#',
  },
  {
    text: '4',
    linkUrl: '#',
  },
  {
    text: '...',
  },
  {
    text: '10',
    linkUrl: '#',
  },
];

const paginationList2 = [
  {
    text: '1',
    linkUrl: '#',
    isCurrentPage: true,
  },
  {
    text: '2',
    linkUrl: '#',
  },
  {
    text: '3',
    linkUrl: '#',
  },
  {
    text: '4',
    linkUrl: '#',
  },
];

const paginationList3 = [
  {
    text: '1',
    linkUrl: '#',
  },
  {
    text: '...',
  },
  {
    text: '7',
    linkUrl: '#',
  },
  {
    text: '8',
    linkUrl: '#',
  },
  {
    text: '9',
    linkUrl: '#',
  },
  {
    text: '10',
    linkUrl: '#',
    isCurrentPage: true,
  },
];

const paginationList4 = [
  {
    text: '1',
    linkUrl: '#',
  },
  {
    text: '...',
  },
  {
    text: '5',
    linkUrl: '#',
  },
  {
    text: '6',
    linkUrl: '#',
    isCurrentPage: true,
  },
  {
    text: '7',
    linkUrl: '#',
  },
  {
    text: '...',
  },
  {
    text: '10',
    linkUrl: '#',
  },
];
---

<section class="ui-kit-section">
  <div class="ui-kit-section__container">
    <h1 class="ui-kit-section__title">UI-kit</h1>

    <h2 class="ui-kit-section__subtitle">Типографика</h2>

    <div class="ui-kit-section__typography">
      <h1>Заголовок H1</h1>
      <h2>Заголовок H2</h2>
      <h3>Заголовок H3</h3>
      <h4>Заголовок H4</h4>
      <h5>Заголовок H5</h5>
      <br />

      <h4>Параграфы</h4>

      <p>
        «Территория благополучия» уже получила признание на внешнем уровне: проект стал победителем
        конкурса группы СОГАЗ по итогам 2024 года и включён в методические рекомендации Минздрава
        России «Модельные корпоративные программы и практики укрепления здоровья работников».
      </p>
      <p>
        АЛРОСА планирует расширять программу, усиливая фокус на комплексном благополучии — от
        физического здоровья до эмоциональной устойчивости и корпоративного спорта.
      </p>
      <p>
        АЛРОСА планирует расширять программу, усиливая фокус на комплексном благополучии — от
        физического здоровья до эмоциональной устойчивости и корпоративного спорта.
      </p>
      <br />

      <h4>Маркированные списки</h4>

      <ul>
        <li>
          Здоровое питание. 44,4% участников стабильно увеличили долю овощей и фруктов в рационе и
          придерживаются принципов рационального питания.
        </li>

        <li>
          Профилактика. 32,5% регулярно проходят диспансеризацию, чекапы и участвуют в корпоративных
          «Днях здоровья».
        </li>

        <li>Контроль веса. 17,1% работников добились устойчивой коррекции массы тела.</li>
      </ul>
      <br />

      <h4>Примечания</h4>

      <div class="article-note">
        <p>
          <strong>Обратите внимание:</strong>
        </p>

        <p>
          Ознакомиться с актуальной редакцией коллективного договора вы можете в разделе
          «Нормативные документы»
        </p>
      </div>
    </div>

    <h2 class="ui-kit-section__subtitle">Кнопки</h2>

    <div class="ui-kit-section__buttons">
      <BaseButton
        class="ui-kit-section__button"
        text="Отправить"
        type="submit"
      />

      <BaseButton
        class="ui-kit-section__button"
        text="Отправить"
        disabled
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="bordered-gray-3"
        text="Отправить"
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="bordered-gray-3"
        text="Отправить"
        href="#"
        disabled
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="gray-0"
        text="Отправить"
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="gray-0"
        text="Отправить"
        href="#"
        disabled
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="transparent"
        size="sm"
        text="Все вопросы"
        href="#"
        right-icon="right-arrow"
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="transparent"
        size="sm"
        text="Все вопросы"
        href="#"
        right-icon="right-arrow"
        disabled
      />

      <BaseButton
        class="document-section__button"
        theme="bordered-primary"
        text="Все вопросы"
        href="#"
      />

      <BaseButton
        class="document-section__button"
        theme="bordered-primary"
        text="Все вопросы"
        href="#"
        disabled
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="transparent"
        size="sm"
        text="Иван Петров"
        href="#"
        font="body-18"
        left-icon="user"
        right-icon="right-arrow"
      />

      <BaseButton
        class="ui-kit-section__button"
        theme="transparent"
        size="sm"
        text="Иван Петров"
        href="#"
        font="body-18"
        left-icon="user"
        right-icon="right-arrow"
        disabled
      />
    </div>

    <h2 class="ui-kit-section__subtitle">Теги</h2>

    <div class="ui-kit-section__tags">
      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        size="sm"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        size="sm"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="secondary"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="secondary"
        size="sm"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="secondary"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="secondary"
        size="sm"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="primary-light"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="primary-light"
        size="sm"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="primary-light"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="primary-light"
        size="sm"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-1"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-1"
        size="sm"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-1"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-1"
        size="sm"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-0"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-0"
        size="sm"
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-0"
        icon="close"
        hoverable
      />

      <BaseTag
        class="ui-kit-section__tag"
        text="Новости"
        theme="gray-0"
        size="sm"
        icon="close"
        hoverable
      />
    </div>

    <h2 class="ui-kit-section__subtitle">Ссылки на документы</h2>

    <div class="ui-kit-section__document-links">
      <DocumentLink
        class="ui-kit-section__document-link"
        text="Промежуточная бухгалтерская отчетность за 3 месяца, закончившихся 31 марта 2025 года"
        type="doc"
        file-size="50 КБ"
        link-url={`${BASE}documents/ALROSA_Social-Policy.pdf`}
      />

      <DocumentLink
        class="ui-kit-section__document-link"
        text="Промежуточная бухгалтерская отчетность за 3 месяца, закончившихся 31 марта 2025 года"
        type="pdf"
        file-size="50 КБ"
        link-url={`${BASE}documents/ALROSA_Social-Policy.pdf`}
      />

      <DocumentLink
        class="ui-kit-section__document-link"
        text="Промежуточная бухгалтерская отчетность за 3 месяца, закончившихся 31 марта 2025 года"
        type="xls"
        file-size="50 КБ"
        link-url={`${BASE}documents/ALROSA_Social-Policy.pdf`}
      />

      <DocumentLink
        class="ui-kit-section__document-link"
        text="Промежуточная бухгалтерская отчетность за 3 месяца, закончившихся 31 марта 2025 года"
        type="pdf"
        file-size="50 КБ"
        link-url={`${BASE}documents/ALROSA_Social-Policy.pdf`}
        disabled
      />
    </div>

    <h2 class="ui-kit-section__subtitle">Карточки</h2>

    <div class="ui-kit-section__cards">
      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        icon-url={`${BASE}images/employees-page/knowledge-base-icons/vacation.svg`}
        title="Отпуска <br>и дни отдыха"
        caption-text="5 тем, 3 документа"
        theme="secondary"
        shadow={true}
        border="top"
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        icon-url={`${BASE}images/employees-page/knowledge-base-icons/wages.svg`}
        title="Оплата труда<br>и мотивация"
        caption-text="5 тем, 3 документа"
        theme="secondary"
        shadow={true}
        border="top"
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        icon-url={`${BASE}images/employees-page/knowledge-base-icons/wages.svg`}
        title="Оплата труда<br>и мотивация"
        caption-text="5 тем, 3 документа"
        theme="secondary"
        shadow={true}
        border="top"
        disabled
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Обучение<br>и развитие"
        caption-text="4 темы, 3 документа"
        theme="secondary"
        shadow={true}
        border="top"
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Обучение<br>и развитие"
        caption-text="4 темы, 3 документа"
        theme="secondary"
        shadow={true}
        border="top"
        disabled
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Новый порядок подачи заявок на отпуск"
        caption-text="05.05.2023"
        caption-theme="date"
        shadow={true}
        border="top"
        paddings="sm"
        background="gradient"
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Новый порядок подачи заявок на отпуск"
        caption-text="05.05.2023"
        caption-theme="date"
        shadow={true}
        border="top"
        paddings="sm"
        background="gradient"
        disabled
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Коллективный договор"
        caption-text="Читать"
        theme="light"
        border="all"
        arrow-theme="light"
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Коллективный договор"
        caption-text="Читать"
        theme="light"
        border="all"
        arrow-theme="light"
        disabled
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Портал ЦРП"
        text="Рабочие документы, сервисы и заявки"
        shadow={true}
        bottom-reverse={true}
        arrow-theme="primary"
        background={`${BASE}images/main-page/portal-cards/crp-background.webp`}
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        title="Портал ЦНТ"
        text="Информация и формы обратной связи"
        shadow={true}
        bottom-reverse={true}
        arrow-theme="primary"
        background={`${BASE}images/main-page/portal-cards/cnt-background.webp`}
        disabled
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        icon-url={`${BASE}images/crp-main-page/crp-card-icon.svg`}
        icon-size="sm"
        title="Документы СП"
        title-position="bottom"
        caption-text="20 документов"
        caption-arrow={false}
        theme="light"
        border="all"
      />

      <LinkCard
        class="ui-kit-section__card"
        link-url="#"
        icon-url={`${BASE}images/crp-main-page/crp-card-icon.svg`}
        icon-size="sm"
        title="Документы СП"
        title-position="bottom"
        caption-text="20 документов"
        caption-arrow={false}
        theme="light"
        border="all"
        disabled
      />
    </div>

    <h2 class="ui-kit-section__subtitle">Акордеоны</h2>

    <FaqAccordion
      class="ui-kit-section__faq-accordion"
      accordion-list={faqAccordionList}
    />

    <InfoAccordion
      class="ui-kit-section__faq-accordion"
      accordion-list={infoAccordionList}
    />

    <TableAccordion
      class="ui-kit-section__faq-accordion"
      accordion-list={tableAccordionList}
    />

    <h2 class="ui-kit-section__subtitle">Пагинация</h2>

    <div class="ui-kit-section__paginations">
      <Pagination
        class="ui-kit-section__pagination"
        items={paginationList1}
      />
      <Pagination
        class="ui-kit-section__pagination"
        items={paginationList2}
      />
      <Pagination
        class="ui-kit-section__pagination"
        items={paginationList3}
      />

      <Pagination
        class="ui-kit-section__pagination"
        items={paginationList4}
      />
    </div>

    <h2 class="ui-kit-section__subtitle">Модальные окна</h2>

    <div class="ui-kit-section__modals">
      <BaseButton
        class="ui-kit-section__modal-invoker"
        text="Принято"
        data-modal-open="ui-kit-success-modal"
      />

      <SubmitModal
        modal-name="ui-kit-success-modal"
        icon-name="success"
        title="Ваше обращение принято"
      >
        <Fragment slot="text">
          <p>
            Спасибо за ваше обращение! Мы перенаправим его ответственному сотруднику, который примет
            его к севедению.
          </p>

          <p>При необходимости, ответственный сотрудник свяжется с вами для уточнения деталей.</p>
        </Fragment>
      </SubmitModal>

      <BaseButton
        class="ui-kit-section__modal-invoker"
        text="Ошибка"
        data-modal-open="ui-kit-error-modal"
      />

      <SubmitModal
        modal-name="ui-kit-error-modal"
        icon-name="error"
        icon-theme="secondary"
        title="ошибка отправки"
      >
        <Fragment slot="text">
          <p>
            К сожалению, ваше обращение не получилось отправить. Попробуйте снова через некоторое
            время.
          </p>
        </Fragment>
      </SubmitModal>

      <BaseButton
        class="ui-kit-section__modal-invoker"
        text="Задать вопрос"
        data-modal-open="question-form-modal"
      />
    </div>

    <h2 class="ui-kit-section__subtitle">Видео</h2>

    <div class="ui-kit-section__videos">
      <BaseVideo
        class="ui-kit-section__video"
        mp4Url={`${BASE}video/example/video.mp4`}
        posterUrl={`${BASE}video/example/video-poster.webp`}
        title="Видео"
      />
    </div>

    <h2 class="ui-kit-section__subtitle">Элементы форм</h2>

    <div class="ui-kit-section__form-elements">
      <BaseInputField
        class="ui-kit-section__form-element"
        label-text="Тема обращения"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        input-name="theme-1"
        required
      />

      <BaseInputField
        class="ui-kit-section__form-element"
        label-text="Тема обращения"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        input-name="theme-2"
        required
        error
      />

      <BaseInputField
        class="ui-kit-section__form-element"
        label-text="Тема обращения"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        input-name="theme-3"
        required
        disabled
      />

      <BaseSelect
        class="ui-kit-section__form-element"
        label-text="Тематика"
        error-text="Необходимо выбрать тематику"
        placeholder="Выберите из списка"
        input-name="subject-1"
        items={[
          {
            text: 'Вариант 1',
            value: '1',
          },
          {
            text: 'Вариант 2',
            value: '2',
          },
          {
            text: 'Вариант 3',
            value: '3',
          },
          {
            text: 'Вариант 4',
            value: '4',
          },
          {
            text: 'Вариант 5',
            value: '5',
          },
          {
            text: 'Вариант 6',
            value: '6',
          },
        ]}
        required
      />

      <BaseSelect
        class="ui-kit-section__form-element"
        label-text="Тематика"
        error-text="Необходимо выбрать тематику"
        placeholder="Выберите из списка"
        input-name="subject-2"
        items={[
          {
            text: 'Вариант 1',
            value: '1',
          },
          {
            text: 'Вариант 2',
            value: '2',
          },
          {
            text: 'Вариант 3',
            value: '3',
          },
          {
            text: 'Вариант 4',
            value: '4',
          },
          {
            text: 'Вариант 5',
            value: '5',
          },
        ]}
        error
        required
      />

      <BaseSelect
        class="ui-kit-section__form-element"
        label-text="Тематика"
        error-text="Необходимо выбрать тематику"
        placeholder="Выберите из списка"
        input-name="subject-3"
        items={[
          {
            text: 'Вариант 1',
            value: '1',
          },
          {
            text: 'Вариант 2',
            value: '2',
          },
          {
            text: 'Вариант 3',
            value: '3',
          },
          {
            text: 'Вариант 4',
            value: '4',
          },
          {
            text: 'Вариант 5',
            value: '5',
          },
          {
            text: 'Вариант 6',
            value: '6',
          },
        ]}
        required
        disabled
      />

      <BaseTextareaField
        class="ui-kit-section__form-element"
        label-text="Сообщение"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Подробно опишите ваш вопрос или ситуацию. Если нужно — добавьте даты, подразделение или ФИО сотрудника, к которому обращаетесь"
        textarea-name="message-1"
        required
      />

      <BaseTextareaField
        class="ui-kit-section__form-element"
        label-text="Сообщение"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        textarea-name="message-2"
        required
        error
      />

      <BaseTextareaField
        class="ui-kit-section__form-element"
        label-text="Сообщение"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        textarea-name="message-3"
        required
        disabled
      />

      <BaseTextareaField
        class="ui-kit-section__form-element"
        label-text="Сообщение"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        textarea-name="message-4"
        required
        counter
      />

      <BaseTextareaField
        class="ui-kit-section__form-element"
        label-text="Сообщение"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        textarea-name="message-5"
        required
        counter
        error
      />

      <BaseTextareaField
        class="ui-kit-section__form-element"
        label-text="Сообщение"
        error-text="Необходимо выбрать тему обращения"
        placeholder="Кратко опишите суть вопроса"
        textarea-name="message-6"
        required
        counter
        disabled
      />

      <BaseCheckbox
        class="ui-kit-section__form-element"
        label-text="Я ознакомлен(-а) с политикой конфиденциальности"
        error-text="Необходимо ознакомиться с политикой конфиденциальности"
        input-name="checkbox-1"
        required
      />

      <BaseCheckbox
        class="ui-kit-section__form-element"
        label-text="Я ознакомлен(-а) с политикой конфиденциальности"
        error-text="Необходимо ознакомиться с политикой конфиденциальности"
        input-name="checkbox-2"
        required
        error
      />

      <BaseCheckbox
        class="ui-kit-section__form-element"
        label-text="Я ознакомлен(-а) с политикой конфиденциальности"
        error-text="Необходимо ознакомиться с политикой конфиденциальности"
        input-name="checkbox-3"
        required
        disabled
      />
    </div>
  </div>
</section>

<style lang="scss" is:global>
  .ui-kit-section {
    &__container {
      @include base-container;

      margin-bottom: rem(96);
    }

    &__title {
      margin: 0 0 rem(50);
    }

    &__subtitle {
      margin: 0 0 rem(32);
    }

    &__typography {
      margin-bottom: rem(96);
    }

    &__buttons,
    &__tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(24);
      margin-bottom: rem(96);
      padding: rem(24) rem(16);
      background-color: $primary-light;
    }

    &__tags {
      background-color: $gray-2;
    }

    &__button,
    &__tag {
      flex-shrink: 0;
    }

    &__document-links {
      display: flex;
      flex-direction: column;
      gap: rem(24);
      margin-bottom: rem(96);
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: rem(448);
      grid-auto-rows: rem(250);
      gap: rem(24);
      margin-bottom: rem(96);
    }

    &__faq-accordion {
      margin-bottom: rem(96);
    }

    &__paginations {
      margin-bottom: rem(96);
    }

    &__pagination {
      margin-bottom: rem(16);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__modals {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(24);
      margin-bottom: rem(96);
    }

    &__modal-invoker {
      flex-shrink: 0;
    }

    &__videos {
      margin-bottom: rem(96);
    }

    &__form-elements {
      position: relative;
      z-index: 10;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      gap: rem(16);
      margin-bottom: rem(96);
    }
  }
</style>
